<div id="addbuttonbar" class="buttonbar">
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:document.mainform.ctf_op.value='list';
    document.mainform.ctf_lastop.value='add';  
    pre_view();
    document.mainform.submit();">   
${_('List')}
</button>
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:document.mainform.ctf_op.value='add'; 
    document.mainform.ctf_lastop.value='add';
    pre_view();
    document.mainform.submit();">   
${_('Restart add')}
</button>
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:document.mainform.ctf_op.value='saveadd'; 
    document.mainform.ctf_lastop.value='add';
    document.mainform.ctf_rowid.value=''
    document.mainform.ctf_nextop.value='edit';
    pre_save();
    document.mainform.submit();">   
${_('Save and continue')}
</button>
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:document.mainform.ctf_op.value='saveadd';
  document.mainform.ctf_lastop.value='add';
    document.mainform.ctf_rowid.value=''
    document.mainform.ctf_nextop.value='viewrec'; 
    pre_save();
    document.mainform.submit();">   
${_('Save and view')}
</button>
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:document.mainform.ctf_op.value='saveadd'; 
    document.mainform.ctf_lastop.value='add';
    document.mainform.ctf_rowid.value=''
    document.mainform.ctf_nextop.value='list';
    pre_save();
    document.mainform.submit();">   
${_('Save and list')}
</button>
</div>