
<div class="row-fluid">
  <div class="span12">    
    <div class="row-fluid">
      <div class="span1 fronttopleftblock">
      </div>
      <div class="span6">
        <div style="background-color: #c0392b; 
         padding-top: 35px;padding-bottom: 35px;
         padding-left: 75px;padding-right: 20px;"> 
          <table>
            <!--
            <tr><td class="sft">Nr</td>
               <td><input type="text" name="op_param_id" id="op_param_id" value="${id}" autocomplete="off"></td></tr>
            -->   
            <tr><td class="sft">${_('Location id')}</td>
                <td><input type="text" name="op_param_archive_id" id="op_param_archive_id" value="${archive_id}" autocomplete="off"></td></tr>
            <tr><td class="sft">${_('Author')}</td>
                <td><input type="text" name="op_param_author" id="op_param_author" value="${author}" autocomplete="off"></td></tr>
            <tr><td class="sft">${_('Title')}</td>
                <td><input type="text" name="op_param_title" id="op_param_title" value="${title}" autocomplete="off"></td></tr>
            <tr><td class="sft">${_('Keyword')}</td>
                <td><input type="text" name="op_param_keywords" id="op_param_keywords" value="${keywords}" autocomplete="off"></td></tr>
            <tr><td class="sft">${_('Place of pub')}</td>
                <td><input type="text" name="op_param_place_of_publication" id="op_param_place_of_publication" value="${place_of_publication}" autocomplete="off"></td></tr>
            <tr><td class="sft">
                <select name="op_param_extname" id="op_param_extname"
                   style="width: 100px; margin-left: 0px !important; border-width: 0px;">
                  <option value=""></option> 
                  <option value="connective_phrase">${_('Registration nr')}</option>
                  <option value="id">${_('Id')}</option>
                  <option value="procite_id">${_('ProCite id')}</option>               
                </select>  
                </td>
                <td><input type="text" name="op_param_extval" id="op_param_extval" value="${extval}" autocomplete="off"></td>
            </tr>
                      
          </table>                        
          <div style="margin-top: 20px; margin-left: 7px;">
            <select name="type" id="op_param_type">
              <option value="object">${_('Search all objects')}</option>             
              <option value="manuscript">${_('Search manuscripts')}</option>
              <option value="printed">${_('Search printed text')}</option>
              <option value="photo">${_('Search photos')}</option>
              <option value="movie">${_('Search movies')}</option>                     
              <option value="slide">${_('Search slides')}</option>
              <option value="audio">${_('Search audio')}</option>
              <option value="thing">${_('Search physical obj')}</option>
            </select>  
            <select name="sort" id="op_param_sort">
               <option value="author">${_('Sort by author')}</option>
               <option value="title">${_('Sort by title')}</option>
               <option value="archive_id">${_('Sort by archive id')}</option>
               <option value="date_of_publication">${_('Sort by year')}</option>              
            </select>        
          </div>
          <div style="margin-left: 70px;">           
            <input type="checkbox" style="vertical-align: middle;" 
                   name="op_param_attach" id="op_param_attach" ${attach} value="ok">
            <span style="display: inline-block; margin-top: 3px; color: #ffffff; 
                         vertical-align: middle">${_('Digitized materials only')}</span>
          </div>
          <!--
          <label class="checkbox inline" style="margin-left: 70px;">
            <span style="display: inline-block; margin-top: 1px; color: #ffffff;">${_('Digitized materials only')}</span>
            <input type="checkbox" name="op_param_attach" id="op_param_attach" ${attach} value="ok">
          </label>
          -->
          <div style="padding-top: 0px; padding-bottom: 0px;
                     width: 320px; margin-top: 0px; margin-left: 60px;">          
            <input type="button" class="btn btn-large btn-inverse"  
              style="padding-top: 5px; padding-bottom: 5px;
                     width: 100px; margin-top: 20px;"            
              value="${_('Clear')}" 
              onclick="clear_csearch_args(); return true;">
            <input type="submit" class="btn btn-large btn-inverse" 
              style="padding-top: 5px; padding-bottom: 5px;
                     width: 100px; margin-left: 10px; margin-top: 20px;"
              value="${_('Search')}" 
              onclick="return store_csearch_args();">
          </div>
        </div>
      </div>
      <div class="span4 fronttopleftblock">
        <div id="treediv" style="background-color: #eeeeee; 
           padding-top: 35px;padding-bottom: 35px;
           padding-left: 25px;padding-right: 20px; height: 320px; overflow: auto;
           visibility: hidden;"> 
        </div>   
<script type="text/javascript" class="source below">
$(function () {
  $('#op_param_extname').val("${extname}"); 
  $('#op_param_type').val("${type}");
  $('#op_param_sort').val("${sort}");  
	$("#treediv")   
		.jstree({			
			"plugins" : ["json_data","themes","ui"],
      "themes" : {
        "theme" : "default",
        "url" : "/tlibrary/css/tree.css",
        "dots" : false,
        "icons" : false
      },    
      "json_data" : {
          "progressive_render" : true, 
          "data" : ${treedata}
      }    
    }).bind("select_node.jstree", function (e, data) { 
        if ($('.jstree-clicked').length==1) {
          $("#op_param_keywords").val($.trim($('.jstree-clicked').text()));          
        }
      });      
  $("#treediv").css("visibility","visible"); //show();     
});    
</script>

     
      </div>
      <div class="span1 fronttopleftblock">      
      </div>
    </div>
  </div> 
  <div style="margin-left: 80px; margin-right: 70px;">
    Materjalide kasutamisega seondub kohustus viidata Eesti Pedagoogika Arhiivmuuseumile. <br>
    Kasutamine kommertslikel eesmärkidel tuleb kooskõlastada Eesti Pedagoogika Arhiivmuuseumiga.
  </div>  
</div>

