
<input type="hidden" name="ctf_op" id="ctf_op" value="${op}">
<input type="hidden" name="ctf_nextop" id="ctf_nextop" value="${nextop}">
<input type="hidden" name="ctf_lastop" id="ctf_lastop" value="${lastop}">
<input type="hidden" name="ctf_table" id="ctf_table" value="${table}">
<input type="hidden" name="ctf_rowstart" id="ctf_rowstart" value="${rowstart}">
<input type="hidden" name="ctf_rowend" id="ctf_rowend" value="${rowend}">
<input type="hidden" name="ctf_shown_rows" id="ctf_shown_rows" value="${shown_rows}">
<input type="hidden" name="ctf_sort_field" id="ctf_sort_field" value="${sort_field}">
<input type="hidden" name="ctf_sort_dir" id="ctf_sort_dir" value="${sort_dir}">
<input type="hidden" name="ctf_rowid" id="ctf_rowid" value="${rowid}">
<input type="hidden" name="ctf_op_args" id="ctf_op_args" value="${op_args}">
<input type="hidden" name="ctf_list_ids_json" id="ctf_list_ids_json" value="${list_ids_json}">
<input type="hidden" name="ctf_userlevel" id="ctf_userlevel" value="${userlevel}">