
<div id="editbuttonbar" class="buttonbar">
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:document.mainform.ctf_op.value='list';
    //document.mainform.ctf_nextop.value=document.mainform.op.value;  
    document.mainform.ctf_lastop.value='edit';
    document.mainform.submit();">   
${_('List')}
</button>
<button name="back" class="btn btn-primary btn-sm ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='edit'; 
    document.mainform.ctf_lastop.value='edit';
    document.mainform.submit();">   
${_('Restart edit')}
</button>
<button name="back" class="btn btn-primary btn-sm ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='saveedit'; 
    document.mainform.ctf_lastop.value='edit';
    document.mainform.ctf_nextop.value='edit';
    document.mainform.submit();">   
${_('Save and continue')}
</button>
<button name="back" class="btn btn-primary btn-sm ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='saveedit';
    document.mainform.ctf_lastop.value='edit';
    document.mainform.ctf_nextop.value='viewrec'; 
    document.mainform.submit();">   
${_('Save and view')}
</button>
<!--
<button name="back" class="btn btn-material-cyan btn-sm ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='saveedit'; 
    document.mainform.ctf_lastop.value='edit';
    document.mainform.ctf_nextop.value='list';
    document.mainform.submit();">   
${_('Save and list')}
</button>
-->
</div>