

<div class="container wiblock well" style="opacity: 0.85; background-color: white;"> 

<div class='attachblock'>

  <div style="
    margin-bottom: 20px; 
    margin-top: 0px;
    align: center; text-align: left;
    font-size: 40px; font-weight: bold;">

  <div style="padding-top: 10px; padding-bottom: 40px;
      font-size: 30px; color: #555555;
      margin-left: auto; margin-right: auto;
      padding-left: 30px; padding-right: 30px;">      
<!--
  <div style="
     font-family: Bodoni,Georgia,Serif; font-weight: 100; font-size: 70px;
     text-align: center; margin-bottom: 40px; color: black;">       
  Features  
  </div>
-->


<div class="feat2n" style="margin-top: 100px; ">
<p>
Digital footprint
</div>
<div class="feat2t">
Everything we learn about your customers from the web
</div>


<div class="feat2n">
<img src="/fp/img/people1.jpg" style="height: 400px; margin-top: 20px; margin-bottom: 60px;">
<p>
</div>
<!--
<img src="/fp/img/hosting1.jpg" style="height: 300px; margin-bottom: 20px;">
-->
<!--

<div class="btn btn-primary" 
    style="width: 150px;" id="choosefilebtn">Choose File          
</div>    
<div class="btn btn-primary" 
    style="width: 150px;" id="uploadfilebtn">Upload          
</div> 
 -->

<!--
<img src="/fp/img/easy_profiling_2.png" style="height: 300px; margin-bottom: 20px;">
-->
<p>

<!--
<div class="feat2n">
<img src="/fp/img/easy_profiling_2.png" style="height: 300px; margin-bottom: 80px;">
<p>
Easy profiling
</div>
<div class="feat2t">
Upload your client list and let us do the rest.
</div>
-->

<div class="feat2n" style="margin-top: 100px;">
<p>
Save time
</div>
<div class="feat2t">
Traditional customer research takes weeks. With Full Profile, it's matter of hours.
</div>
<div class="feat2t">

<div class="bar_container">
<div id="main_container">
<div id="pbar" class="progress-pie-chart" data-percent="0">
<div class="ppc-progress">
<div class="ppc-progress-fill"></div>
</div>
<div class="ppc-percents">
<div class="pcc-percents-wrapper">
<span>%</span>
</div>
</div>
</div>

<progress style="display: none" id="progress_bar" value="0" max="100"></progress>
</div>
</div>

</div>
<p>


<div class="feat2n" style="margin-top: 120px;">
<p>
Handsfree
</div>
<div class="feat2t">
Upload your client list and let us do the rest.
</div>
<div class="feat2t">

<img src="/fp/img/relax1.jpg" 
  style="height: 350px; margin-bottom: 20px;">



<div class="feat2n" style="margin-top: 100px;">
<p>
Segment your customers
</div>
<div class="feat2t">
Build profiles
based on their purchasing behaviour, value and socio-demographic characteristics.
</div>
<div class="feat2t">
<div style="width: 400px; height: 300px; -webkit-box-shadow: 7px 10px 32px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 32px -21px rgba(0,0,0,0.75);
box-shadow: 7px 10px 32px -21px rgba(0,0,0,0.75); margin-left: auto; margin-right: auto;
text-align: left; color: black; padding: 20px; font-size: 16px;" id="purchasing">
<div><b>Purchasing behaviour:</b>
</div><div>New customers
</div><div>Loyal customers
</div><div>Heavy uses
</div><div>Light users
</div><div>Haven't bought for long
</div><div>Buying several products
</div><div>Buying only one of several products
</div><div>Haven't bought certain products
</div>
</div>
<p>

<div class="feat2n" style="margin-top: 120px;">
<p>
Closer look
</div>
<div class="feat2t">
Use filters to understand your customers even deeper than the customer segments you made.
</div>



<div class="feat2n">
<img src="/fp/img/blowup.jpg" style="height: 400px; margin-bottom: 120px; ">
<p>
Useful comparison
</div>
<div class="feat2t">
Compare your customer segment profiles with each other.
</div>


<div class="feat2n">
<img src="/fp/img/comparison3.png" style="height: 250px; margin-bottom: 80px; margin-top: 50px; margin-bottom: 100px;">
<p>
</div>





<!--
<div class="featuremember">
<div class="row featurerow">
  <div class="col-md-5 featurein">
    <div class="featurename">Easy profiling </div>
    <p class="featuretext">
    Upload your client list and let us do the rest.
  </div> 
  <div class="col-md-2"></div> 
  <div class="col-md-5 featurein">
    <div class="featurename">Save time</div>
    <p class="featuretext">
    Traditional customer research takes weeks. With Full Profile, it's matter of hours.
  </div>
</div>  
</div>


<div class="featuremember">
<div class="row featurerow">
  <div class="col-md-5 featurein">
    <div class="featurename">Deeper understanding </div>
    <p class="featuretext">
    You can profile your customers segment by segment.
  </div> 
  <div class="col-md-2"></div> 
  <div class="col-md-5 featurein">
    <div class="featurename">Useful filters</div>
    <p class="featuretext">
    Use filters to understand your customers even deeper than customer segments you made.
  </div>
</div>  
</div>

<div class="featuremember">
<div class="row featurerow">
  <div class="col-md-5 featurein">
    <div class="featurename">Convenient comparison</div>
    <p class="featuretext">
    You can easily compare your customer segment profiles with each other.
  </div> 
  <div class="col-md-2"></div> 
  <div class="col-md-5 featurein">
    <div class="featurename">Share your results</div>
    <p class="featuretext">
    We made easy for you to share your profiling results with anyone else.
  </div>
</div>  
</div>
-->

</div>


  </div>
  </div>
</div>
</div>


</div>


<script>


var progressbar = $('#progress_bar');
max = progressbar.attr('max');
time = (1000 / max) * 5;
value = progressbar.val();

var loading = function() {

value += 1;
addValue = progressbar.val(value);

$('.progress-value').html(value + '%');
var $ppc = $('.progress-pie-chart'),
deg = 360 * value / 100;
if (value > 50) {
$ppc.addClass('gt-50');
}

$('.ppc-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
$('.ppc-percents span').html(value + '%');

$("#choosefilebtn").css("opacity",1 - ((80 - value) / 100));
$("#uploadfilebtn").css("opacity",1 - ((80 - value) / 100));
$("#purchasing").css("opacity",1 - ((80 - value) / 100));

if (value == max) {
clearInterval(animate);
}
};

var animate = setInterval(function() {
loading();
}, time);


</script>






