<%text>
<%
def m(varname):
    return context.get(varname, "")   
%> 
</%text>
<div class='filters'>
<table>
% for pos in range(0,len(fields)): 
<%  
  field=fields[pos]
  fname=field['name']
  ftransname=field['trans']
  infield=_build_filter_input(field)
%>
  %if pos%2==0:
  <tr>
  %endif
  <td class='filterlabel'>${ftransname}</td>
  <td><select name='flt_${fname}_op' class='filterselect simplebox' setvalue='<%text>${m("flt_</%text>${fname}_op")}'>
  %if not field.has_key('dtype') or field['dtype'] in ['varchar','text']:
    <option value='subs'>subs</option>
    <option value='='>=</option>
    <option value='like'>like</option>
    <option value='start'>start</option>
    <option value='end'>end</option>
    <option value='empty'>empty</option>
    <option value='null'>null</option>
  %elif field['dtype'] in ['integer','float','timestamp','date','time']:
    <option value='='>=</option>
    <option value='<'>&lt;</option>
    <option value='>'>&gt;</option>
    <option value='<='>&lt;=</option>
    <option value='>='>&gt;=</option>
    <option value='null'>null</option>  
  %elif field['dtype'] in ['boolean']:
    <option value='='>=</option>
    <option value='null'>null</option>   
  %else:
    <option value='='>=</option>
    <option value='<'>&lt;</option>
    <option value='>'>&gt;</option>
    <option value='<='>&lt;=</option>
    <option value='>='>&gt;=</option>
    <option value='null'>null</option>    
  %endif  
  </select>
  <input type='hidden' name='flt_${fname}_translate' value='${table}.${fname}'></input>
  </td>
  <td> 
  ${infield}
  </td>
  %if pos%2==1 or pos==len(fields)-1:
  </tr>
  %endif
% endfor
</table>
</div>
