
<div class="row" >    
  <div class="col-md-12 home_bar" style="padding-left: 0px; padding-right: 0px;">
<div class="home_bar_in" style="opacity: 0.7 ; color: #555555; 
    background-color: #ffffff; margin-bottom: 20px; 
    margin-top: 30vh;
    /* margin-top: 330px; */
    align: center; text-align: center;
    font-size: 40px; font-weight: bold;">
    <div style="opacity: 1; ">
      <div style="padding-top: 40px; opacity: 1; 
      color:   rgb(34, 49, 63); /* #e65100; */ /* #ff9800; */ /* #0d47a1; */ /* rgb(34, 49, 63); */
      
      /* #2196f3; */
      font-size: 36px; ">            
      Sherlock Holmes for marketers      
      </div>
      <div style="padding-top: 10px; padding-bottom: 40px;
      font-size: 26px;">      
      Affordable, easy and fast customer research
      </div>
    </div>
</div> 
</div>
</div>


<div class="row" >    
  <div class="col-md-12 home_circle" >
<div class="home_circle_in" style="margin-top: 1vh;
            /* margin-top: 120px; */
            margin-left: auto; margin-right: auto; width: 200px;">
  <div class="tryfree" style="
      /* background-color: red; */
      background-color: rgb(34, 49, 63); 
      opacity: 0.6;
      text-decoration: none;
      color: #ffffff; 
      margin-bottom: 20px; align: center; text-align: center;
      font-size: 20px; font-weight: bold; 
      padding-top: 55px;
      border-radius: 50%; 
      border: white 2px solid;
      width: 160px; height: 160px; margin-left: 25px;"
      onclick="$('#signupModal').modal('show');">
      TRY FOR<br>FREE
  </div>
  <!--
  <div class="tryfree" style="
      text-decoration: none;
      color: #2196f3;
      margin-bottom: 20px; align: center; text-align: center;
      font-size: 20px; font-weight: bold; 
      padding: 15px 20px; margin-bottom: 50px;
      margin-top: 30px;
      text-transform: uppercase;
      background-color: white;
      onclick="$('#signupModal').modal('show');">
      TRY FOR FREE
  </div>
  -->
</div>
</div>
</div>

<div class="row" 
   style="margin-top: 59px; 
   /* background-color: #dddddd; */
   background-color: rgb(34, 49, 63); background-image: url('/fp/img/london_people_10_1.jpg');
   ">    
  <div class="col-md-6 home_photo" style="padding-left: 0px; padding-right: 0px;">
    <div style="opacity: 1 !important; color: #444444; background-color: white;
      margin-bottom: 0px; 
      align: center; font-size: 20px; font-weight: bold; margin-top: 0px;">
      <div 
        style="opacity: 1 !important; background-color: white;
        height: 948px;      
        padding-top: 150px; padding-left: 70px; padding-right: 0px; padding-bottom: 150px;
        max-width: 1000px; margin-left: auto; margin-right: auto;
        background-image: url('/fp/img/london_people_10_1.jpg');">        
      </div>
    </div>    
  </div>
  <div class="col-md-6 home_photo_text" style="padding-left: 0px; padding-right: 0px;">    
    <div id="aboutplace" style="opacity: 0.95 !important; 
       color: #444444; 
       /* background-color: #dddddd; */
       background-color: rgb(34, 49, 63);
      margin-bottom: 0px; 
      align: center; font-size: 20px; font-weight: bold; margin-top: 0px;">
      <div class="home_photo_text_in" style="opacity: 1 !important;
        height: 948px;      padding-left: 70px; padding-right: 70px;
        padding-top: 150px; padding-bottom: 150px;
        max-width: 1000px; margin-left: auto; margin-right: auto;">

<div class="home_photo_text_in2a" style="padding-top: 160px; padding-bottom: 50px; 
  font-family: Bodoni,Georgia,serif; color: white; font-size: 60px; 
  ">    
Digital footprint
</div>
<div class="home_photo_text_in2b" style="font-size: 20px; font-weight: 200; 
/* font-family: Georgia, serif; */
font-family: 'Open Sans Light','Open Sans',Roboto,Arial,Helvetica,sans-serif;
color: #aaaaaa;">
Your customers leave their digital footprint with publicly available
information about themselves on websites, forums, social networks,
alumni lists etc.
</div>

      </div>
     </div>
  </div>
</div>



<div class="row">    
  <div class="col-md-6 home_photo_text" style="padding-left: 0px; padding-right: 0px;">
    <div style="opacity: 1 !important; color: #444444; 
      /* background-color: #dddddd; */
      background-color: white; 
      margin-bottom: 0px; 
      align: center; font-size: 20px; font-weight: bold; margin-top: 0px;">
      <div class="home_photo_text_in" style="opacity: 1 !important; 
        /* background-color: #dddddd; */
        background-color: white; 
        height: 948px;      
        padding-top: 150px; padding-left: 70px; padding-right: 70px; padding-bottom: 150px;
        max-width: 1000px; margin-left: auto; margin-right: auto;">
        

<div class="home_photo_text_in2a" style="padding-top: 160px; padding-bottom: 50px;  
  padding-left: 20px; padding-right: 20px;
  font-family: Bodoni,Georgia,serif;  
  /* color: black; */
  color: #0d47a1; /* #2196f3; */
  font-size: 60px; ">    
Your customer list
</div>
<div class="home_photo_text_in2b" 
style="font-size: 20px; padding-left: 20px; padding-right: 20px;
font-size: 20px; font-weight: 200; 
font-family: 'Open Sans Light','Open Sans',Roboto,Arial,Helvetica,sans-serif;
color: #333333;">
Our technology
requires minimal input:
only the list of
customers' names,
which can be uploaded
easily.
</div>
      </div>
    </div>    
  </div>
  <div class="col-md-6 home_photo" style="padding-left: 0px; padding-right: 0px;">    
    <div id="aboutplace" style="opacity: 1 !important; color: #444444; background-color: #dddddd;
      margin-bottom: 0px; 
      align: center; font-size: 20px; font-weight: bold; margin-top: 0px;">
      <div data-stellar-background-ratio="0.5"
        style="opacity: 1 !important;
        height: 948px;   background-color: #dddddd;   
        padding-top: 150px; padding-left: 0px; padding-right: 0px; padding-bottom: 150px;
        max-width: 1000px; margin-left: 0px; margin-right: auto;
        background-image: url('/fp/img/london_people_11_1.jpg');">
      </div>      
    </div>
  </div>
</div>


<div class="row" style="margin-bottom: 0px; padding-bottom: 0px; ">    
  <div class="col-md-6 home_photo" style="padding-left: 0px; padding-right: 0px;">
    <div style="opacity: 1 !important; color: #444444; background-color: #dddddd;
      margin-bottom: 0px; 
      align: center; font-size: 20px; font-weight: bold; margin-top: 0px;">
      <div data-stellar-background-ratio="0.5"
        style="opacity: 1 !important; background-color: #dddddd;
        height: 948px;      
        padding-top: 150px; padding-left: 70px; padding-right: 70px; padding-bottom: 150px;
        max-width: 1000px; margin-left: auto; margin-right: auto;
        background-image: url('/fp/img/london_people_13_1.jpg');">
      </div>
    </div>    
  </div>
  <div class="col-md-6 home_photo_text" style="padding-left: 0px; padding-right: 0px;">    
    <div id="aboutplace" style="opacity: 1 !important; color: #444444; background-color: #dddddd;
      margin-bottom: 0px; 
      align: center; font-size: 20px; font-weight: bold; margin-top: 0px;">
      <div class="home_photo_text_in" style="opacity: 1 !important;
        height: 948px;      
        padding-top: 150px; padding-left: 70px; padding-right: 70px; padding-bottom: 150px;
        max-width: 1000px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">

<div class="home_photo_text_in2a"
style="padding-top: 160px; padding-bottom: 50px;  padding-left: 20px; padding-right: 20px;
  font-family: Bodoni,Georgia,serif; color: black; font-size: 60px; ">    
Hidden Complexity
</div>
<div class="home_photo_text_in2b" style="padding: 20px; font-size: 20px; 
font-size: 20px; font-weight: 200; 
font-family: 'Open Sans Light','Open Sans',Roboto,Arial,Helvetica,sans-serif;
color: #333333;">
With that information
and nothing else, our
technology analyses
your customers digital
footprint and creates
full profile of your
customers list.
</div>

      </div>
    </div>
  </div>
</div>



