
<script type="text/javascript" class="source below">
$(function () {
  $('#op_param_extname').val("${extname}"); 
  $('#op_param_type').val("${type}");
  $('#op_param_sort').val("${sort}");  
	$("#treediv")   
		.jstree({			
			"plugins" : ["json_data","themes","ui"],
      "themes" : {
        "theme" : "default",
        "url" : "/tlibrary/css/tree.css",
        "dots" : false,
        "icons" : false
      },    
      "json_data" : {
          "progressive_render" : true, 
          "data" : ${treedata}
      }    
    }).bind("select_node.jstree", function (e, data) { 
        if ($('.jstree-clicked').length==1) {
          $("#op_param_keywords").val($.trim($('.jstree-clicked').text()));          
        }        
      });
  $("#treediv").css("visibility","visible"); //show();  
});    
</script>

<div class="row-fluid">
  <div class="span12">    
    <div class="row-fluid">
      <div class="span3 fronttopleftblock">
      </div>
      <div class="span6">
      
        <div style="background-color: #c0392b; 
         padding-top: 30px;padding-bottom: 30px;
         padding-left: 38px;padding-right: 30px;"> 
          <input type="text" name="op_param_keywords" id="op_param_keywords" autocomplete="off"
            style="width:286px;">
          <input type="submit" class="btn btn-inverse" style="padding-top: 5px; padding-bottom: 5px;
            width: 80px; margin-left: 5px;"
            value="${_('Search')}" 
            onclick="return store_ksearch_args();"><br>           
            
          <p>
          <div id="treediv" style="background-color: #f5f5f5; 
           padding-top: 35px;padding-bottom: 35px;
           padding-left: 25px;padding-right: 20px; height: 200px; overflow: auto;
           visibility: hidden;">  
        </div>
        </div> 
      <div style="margin-top: 10px;">  
      Märksõna otsingus kirjuta palun nimed suure algustähega!
      </div>
      </div>
      <div class="span3 fronttopleftblock">                
      </div>
    </div>
  </div> 
</div>

