<!--  left menu starts -->

<div style="height:10px"></div>

<table class="menutable" width="80">

<tr class="leftmenugroup">
 <td>
 <table class="leftmenugrouptable" width="100%">
  <!--
  <tr>
   <td class="leftmenugrouptitle">${_('Overviews')}</td>
  </tr> 
  -->
  <tr>
   <td>
    <a href="javascript:menupost('status','')" class="inmenu ">${_('Status')}</a><br>
    <a href="javascript:menupost('statusmap','')" class="inmenu">${_('Status map')}</a><br>
    <a href="javascript:menupost('controllers','')" class="inmenu">${_('Controllers')}</a><br>     
    <a href="javascript:menupost('groupcommand','')" class="inmenu ${dataclass}">${_('Command')}</a><br class="${dataclass}">      
    <a href="javascript:menupost('setschedule','')" class="inmenu">${_('Set schedule')}</a><br>     
    <a href="javascript:menupost('problems','')" class="inmenu">${_('Problems')}</a><br>
    <a href="javascript:menupost('list','users')" class="inmenu">${_('Users')}</a><br>
    <a href="javascript:menupost('list','sessions');" class="inmenu ${dataclass}">${_('Logged in')}</a>
    <a href="javascript:menupost('manuals','')" class="inmenu">${_('Manuals')}</a><br>
   </td>
  </tr>   
 </table>  
 </td>
</tr>

</table>

<!--  left menu ends  -->
