<!-- buttons on top of table listing -->
<table>
<tr>
<td>
<previousrows><a href="$previouslink$">previous</a></previousrows>
</td>
<td>
<nextrows><a href="$nextlink$">next</a></nextrows>
</td>
</tr>
</table>
<!-- ended: buttons on top of table listing -->

