
<div id="listbuttonbar" class="buttonbar">
<button name="left" class="btn btn-primary btn-sm ${prevclass}"  
  onclick="javascript: $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())-parseInt($('#ctf_shown_rows').val()));
           document.mainform.submit();"> 
<font id="leftscrollbutton">&lt;&lt;</font>
</button>
<button name="refresh" class="btn btn-primary btn-sm " 
  onclick="javascript:document.mainform.ctf_op.value='list'; document.mainform.submit();">   
${_('Refresh')}
</button>
<button name="clear" class="btn btn-primary btn-sm ${addclass}"
  onclick="javascript:document.mainform.ctf_op.value='add'; 
    document.mainform.ctf_lastop.value='list';
    document.mainform.ctf_rowid.value=''; 
    document.mainform.submit();">         
${_('Add')}
</button>
<!--
<button name="change" class="btn btn-primary btn-sm  ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='edit';  
  document.mainform.ctf_lastop.value='list';
  document.mainform.ctf_rowid.value='';
  $('input[name=ctf_rowselect]').each(function (i) {
    var x;
    if (this.checked) {      
      x = $(this).val();
      document.mainform.ctf_rowid.value=x;
    }
  });  
  document.mainform.ctf_op.value='edit';
  document.mainform.submit();">           
${_('Edit')}
</button>
-->
<button name="delete" class="btn btn-primary btn-sm ${editclass}"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Delete records?')) 
    { document.mainform.ctf_op.value='delete';  document.mainform.submit(); } else { return false; }">             
${_('Delete')}
</button>
<button name="export" class="btn btn-primary btn-sm ${editclass}"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Ekspordi kirjed?')) 
    { document.mainform.ctf_op.value='export';  document.mainform.submit(); } else { return false; }">             
${_('Export')}
</button>
<button name="right" class="btn btn-primary btn-sm ${nextclass}"
  onclick="javascript: $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())+parseInt($('#ctf_shown_rows').val()));
           document.mainform.submit();">            
<font id="rightscrollbutton">&gt;&gt;</font>
</button>
</div>



