${ctf}
<div class='tabletop'>${_('Monitor')}</div> 
<div id="monitor" style="line-height: 140%; font-size:14px;"">
<p/>

${_('System overview')}:<p/>

<a href="javascript:menupost('filesystems','');" class="btn btn-inverse">${_('File systems')}</a>&nbsp;&nbsp;
<a href="javascript:menupost('processes','');" class="btn btn-inverse">${_('Processes')}</a>&nbsp;&nbsp;
<a href="javascript:menupost('postgres','');" class="btn btn-inverse">${_('Database')}</a>

<p/>${_('Logs')}:<p/>

<a href="javascript:menupost('admin_log','');" class="btn btn-inverse">${_('Admin log')}</a>&nbsp;&nbsp;

</div>