
<div class="buttonbar" style="text-align: center;">
<button name="delete" class="btn btn-inverse btn-list"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Kustutan valitud?')) 
    { document.mainform.ctf_op.value='delete_from_myalbum';  
      document.mainform.submit(); } else { return false; }">             
${_('Delete selected')}
</button>
</div>




