

<div class="container wiblock well" style="opacity: 0.85; background-color: white;"> 

<div class='attachblock'>

  <div style="
    margin-bottom: 20px; 
    margin-top: 0px;
    align: center; text-align: left;
    font-size: 40px; font-weight: bold;">

  <div style="padding-top: 10px; padding-bottom: 40px;
      font-size: 30px; color: #555555;
      margin-left: auto; margin-right: auto;
      padding-left: 30px; padding-right: 30px;">      

  <div style="
     font-family: Bodoni,Georgia,Serif; font-weight: 100; font-size: 70px;
     text-align: center; margin-bottom: 40px; color: black;">       
  Features  
  </div>



<div class="featuremember">
<div class="row featurerow">
  <div class="col-md-5 featurein" style="background-color: #2980b9;">
    <div class="featurename">Easy profiling </div>
    <p class="featuretext">
    Upload your client list and let us do the rest.
  </div> 
  <div class="col-md-2"></div> 
  <div class="col-md-5 featurein" style="background-color: #2ecc71;">
    <div class="featurename">Save time</div>
    <p class="featuretext">
    Traditional customer research takes weeks. With Full Profile, it's matter of hours.
  </div>
</div>  
</div>


<div class="featuremember">
<div class="row featurerow">
  <div class="col-md-5 featurein" style="background-color: #e74c3c;">
    <div class="featurename">Deeper understanding </div>
    <p class="featuretext">
    You can profile your customers segment by segment.
  </div> 
  <div class="col-md-2"></div> 
  <div class="col-md-5 featurein" style="background-color: #f1c40f;">
    <div class="featurename">Useful filters</div>
    <p class="featuretext">
    Use filters to understand your customers even deeper than customer segments you made.
  </div>
</div>  
</div>

<div class="featuremember">
<div class="row featurerow">
  <div class="col-md-5 featurein" style="background-color: #2ecc71;">
    <div class="featurename">Convenient comparison</div>
    <p class="featuretext">
    You can easily compare your customer segment profiles with each other.
  </div> 
  <div class="col-md-2"></div> 
  <div class="col-md-5 featurein" style="background-color: #f39c12;">
    <div class="featurename">Share your results</div>
    <p class="featuretext">
    We made easy for you to share your profiling results with anyone else.
  </div>
</div>  
</div>


</div>


  </div>
  </div>
</div>
</div>


</div>









