
<div id="listbuttonbar" class="buttonbar">
<div id="lbtnbtitle" style="left: 0; text-align: left; white-space: nowrap;">${tabletitle}</div>
<div id="lbtnbbuttons">
<div id="lbtnbbuttonsinner">
<button name="first" class="btn btn-inverse btn-list ${prevclass}"  
  onclick="javascript: 
    $('#ctf_rowstart').val(0);
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    document.mainform.submit();"> 
<font id="bottomfirstbutton">&lt;&lt;</font>
</button>
<button name="left" class="btn btn-inverse btn-list ${prevclass}"  
  onclick="javascript: 
    $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())-parseInt($('#ctf_shown_rows').val()));
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    document.mainform.submit();"> 
<font id="leftscrollbutton">&lt;</font>
<button name="change" class="btn btn-inverse btn-list ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='edit';  
  document.mainform.ctf_lastop.value='list';
  document.mainform.ctf_rowid.value='';
  $('input[name=ctf_rowselect]').each(function (i) {
    var x;
    if (this.checked) {      
      x = $(this).val();
      document.mainform.ctf_rowid.value=x;
    }
  });  
  document.mainform.ctf_op.value='edit';
  document.mainform.ctf_table.value='objects';
  //console.log($('#ctf_table').val());
  //console.log($('#ctf_op').val());
  document.mainform.submit();">           
${_('Edit')}
</button>
<!--
<button name="delete" class="btn btn-inverse btn-list ${deleteclass}"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Kustutan valitud?')) 
    { document.mainform.ctf_op.value='delete';  document.mainform.submit(); } else { return false; }">             
${_('Delete')}
</button>
-->
<button name="export" class="btn btn-inverse btn-list ${exportclass}"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Ekspordin kirjed?')) 
    { document.mainform.ctf_op.value='export';  document.mainform.submit(); } else { return false; }">             
${_('Export')}
</button>
<button name="right" class="btn btn-inverse btn-list ${nextclass}"
  onclick="javascript: 
    //console.log('alg '+$('#ctf_rowstart').val()+' '+$('#ctf_shown_rows').val());
    $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())+parseInt($('#ctf_shown_rows').val()));
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    //console.log('lopp '+$('#ctf_rowstart').val());
    //document.mainform.ctf_rowstart.value=(parseInt(document.mainform.ctf_rowstart.value)+51)+'';
    document.mainform.submit();">            
<font id="rightscrollbutton">&gt;</font>
</button>
<button name="last" class="btn btn-inverse btn-list ${nextclass}"  
  onclick="javascript: 
    $('#ctf_rowstart').val(10000000);
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    document.mainform.submit();"> 
<font id="bottomlastbutton">&gt;&gt;</font>
</div>
</div>
</div>



