
<div id="listbuttonbar" class="buttonbar">
<div id="lbtnbtitle" style="left: 0; text-align: left; white-space: nowrap;">${tabletitle}</div>
<div id="lbtnbbuttons">
<div id="lbtnbbuttonsinner">
<button name="first" class="btn btn-inverse btn-list ${prevclass}"  
  onclick="javascript: 
    $('#ctf_rowstart').val(0);
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    document.mainform.submit();"> 
<font id="bottomfirstbutton">&lt;&lt;</font>
</button>
<button name="left" class="btn btn-inverse btn-list ${prevclass}"  
  onclick="javascript: 
    $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())-parseInt($('#ctf_shown_rows').val()));
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    document.mainform.submit();"> 
<font id="leftscrollbutton">&lt;</font>
</button>
<button name="change" class="btn btn-inverse btn-list ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='edit';  
  document.mainform.ctf_lastop.value='list';
  document.mainform.ctf_rowid.value='';
  $('input[name=ctf_rowselect]').each(function (i) {
    var x;
    if (this.checked) {      
      x = $(this).val();
      document.mainform.ctf_rowid.value=x;
    }
  });  
  document.mainform.ctf_op.value='edit';
  document.mainform.ctf_table.value='objects';
  //console.log($('#ctf_table').val());
  //console.log($('#ctf_op').val());
  document.mainform.submit();">           
${_('Edit')}
</button>
<!--
<button name="delete" class="btn btn-inverse btn-list ${deleteclass}"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Kustutan valitud?')) 
    { document.mainform.ctf_op.value='delete';  document.mainform.submit(); } else { return false; }">             
${_('Delete')}
</button>
-->
<button name="export" class="btn btn-inverse btn-list ${exportclass}"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Ekspordin kirjed?')) 
    { document.mainform.ctf_op.value='export';  document.mainform.submit(); } else { return false; }">             
${_('Export')}
</button>

<button name="back" class="btn btn-inverse"
  onclick="javascript: 
    document.mainform.ctf_op.value='subscribe';  
    document.mainform.ctf_lastop.value='viewrec';    
    var tmp='';
    $('input[name=ctf_rowselect]').each(function (i) {
      var x;
      if (this.checked) {      
        x = $(this).val();
        tmp=tmp.concat(',').concat(x);
      } 
    });  
    document.mainform.ctf_rowid.value=tmp;
    document.mainform.submit();">   
${_('Add to request')}
</button>

<div class="dropdown" style="display: inline">
  <a href="#" class="dropdown-toggle disabled-link" data-toggle="dropdown" data-trigger="hover"
    style="text-decoration: none">
  <span id="adminlabel" class="btn btn-inverse btn-list" 
       title="Administreerimisvahendid">
       ${_('Save to album')}&nbsp;&nbsp;<b class="caret"></b></span>  
  </a>
  <ul class="dropdown-menu" 
     style="margin-top: 10px; text-align: left; font-weight: normal; font-size: 14px;">
    <li><a href="?ctf_op=add&ctf_table=myalbums">${_('Create new album')}</a></li>
    <li class="divider"></li>
    ${album_menu}
  </ul>
</div>

<button name="right" class="btn btn-inverse btn-list ${nextclass}"
  onclick="javascript: 
    //console.log('alg '+$('#ctf_rowstart').val()+' '+$('#ctf_shown_rows').val());
    $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())+parseInt($('#ctf_shown_rows').val()));
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    //console.log('lopp '+$('#ctf_rowstart').val());
    //document.mainform.ctf_rowstart.value=(parseInt(document.mainform.ctf_rowstart.value)+51)+'';
    document.mainform.submit();">            
<font id="rightscrollbutton">&gt;</font>
</button>
<button name="last" class="btn btn-inverse btn-list ${nextclass}"  
  onclick="javascript: 
    $('#ctf_rowstart').val(10000000);
    $('#ctf_op').val('csearch');
    //console.log($('#ctf_op').val());
    document.mainform.submit();"> 
<font id="bottomlastbutton">&gt;&gt;</font>
</div>
</div>
</div>



