<%
def m(varname):
    return context.get(varname, "")   
%> 
%if m("lang")=='est':
<div style="background-color: white; padding: 10px;">
Tellimus saada e-postiga aadressile <a href="mailto:epam@epam.tlu?subject=Tellimus">epam@epam.tlu</a>
<div style="height: 10px;">&nbsp;</div>
Kirja algusse lisa oma <b>nimi ning kontaktinfo</b>, kirja lõppu <b>kopeeri siit alt vormist soovitud säilikud</b>
koos nende ees oleva koodiga.
<div style="height: 10px;">&nbsp;</div>
Saada kõik soovitud ühikud üheainsa emailiga (tellimusele saad lisada kuitahes palju objekte).
</div>
%else:
<div style="background-color: white; padding: 10px;">
Send your request with email to the address <a href="mailto:epam@epam.tlu?subject=Tellimus">epam@epam.tlu</a>
<div style="height: 10px;">&nbsp;</div>
Write your <b>name and contact information</b> to the beginning of the email and
<b>copy the rows from the form below</b> to the end of the email, including the codes at the beginning of lines.
</div>
%endif