


<div class="container wiblock well">  
  <div class="row">    
    
    <div class="col-md-12">
      <h2>List &nbsp; ${list_name}</h2>
      <p style="height: 10px;"> 
      <div class="row">
        <div class="col-md-6" style="padding-top: 15px; margin-left: auto; margin-right: auto;">
          Contains <b>${list_length}</b> names, was created at ${created_at}.
        </div> 
        <div class="col-md-6" style="margin-left: auto; margin-right: auto;">          
          <form name="mainform" id="mainform" action="?" method="post">
             
            <input id="ctf_op" type="hidden" value="profile_persons" name="ctf_op">
            <input id="ctf_nextop" type="hidden" value="my_profiles" name="ctf_nextop">
            <input id="ctf_lastop" type="hidden" value="my_profiles" name="ctf_lastop">
            <input id="ctf_table" type="hidden" value="objects" name="ctf_table">
            <input id="ctf_rowstart" type="hidden" value="0" name="ctf_rowstart">
            <input id="ctf_rowend" type="hidden" value="50" name="ctf_rowend">
            <input id="ctf_shown_rows" type="hidden" value="50" name="ctf_shown_rows">
            <input id="ctf_sort_field" type="hidden" value="id" name="ctf_sort_field">
            <input id="ctf_sort_dir" type="hidden" value="desc" name="ctf_sort_dir">
            <input id="ctf_rowid" type="hidden" value="${list_id}" name="ctf_rowid">
            <input id="ctf_op_args" type="hidden" value="" name="ctf_op_args">
            <input id="ctf_list_ids_json" type="hidden" value="" name="ctf_list_ids_json">
            <input id="ctf_userlevel" type="hidden" value="0" name="ctf_userlevel">              
             
            <button class="btn btn-info" onclick="listpersons(${list_id});">Names</button>
            <button class="btn btn-info" onclick="listexport(${list_id});">Export</button>
            <button class="btn btn-info" onclick="listshare(${list_id});">Share</button>
          </form>
        </div>
      </div>        
    </div>
   
  </div>
</div>

<!-- second row -->
<div style="height: 20px;"></div>

<div class="container wiblock well"">
  
  <div class="row">    
    
    <div class="col-md-6">
      <h2>Sex</h2>
      <p style="height: 20px;">      
      <div class="row">
        <div class="col-md-6" style="margin: auto;">
          <div style="width: 200px; margin: auto;">
            <canvas id="chart_sex" width="200" height="200" style="text-align: center"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <table class="stattable" style="width: 100px; margin-top: 50px; 
            margin-left: auto; margin-right: auto;">
          <tr><td class="stattd">Female</td><td class="stattd">${female_perc}</td></tr>
          <tr><td class="stattd">Male</td><td class="stattd">${male_perc}</td></tr>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <h2>Age</h2>
      <p style="height: 20px;"> 
      <div class="row">
        <div class="col-md-12" style="margin: auto;">
          <div style="width: 400px; margin: auto;">
            <canvas id="chart_age" width="400" height="250" style="text-align: center"></canvas>
          </div> 
        </div> 
        <!--
        <div class="col-md-4">        
          <table class="stattable" style="width: 100px; margin-top: 0px; 
            margin-left: auto; margin-right: auto;">
          <tr><td class="stattd">0-9</td><td class="stattd">${a0_perc}</td></tr>
          <tr><td class="stattd">10-19</td><td class="stattd">${a10_perc}</td></tr>
          <tr><td class="stattd">20-29</td><td class="stattd">${a20_perc}</td></tr>
          <tr><td class="stattd">30-39</td><td class="stattd">${a30_perc}</td></tr>
          <tr><td class="stattd">40-49</td><td class="stattd">${a40_perc}</td></tr>
          <tr><td class="stattd">50-59</td><td class="stattd">${a50_perc}</td></tr>
          <tr><td class="stattd">60-69</td><td class="stattd">${a60_perc}</td></tr>
          <tr><td class="stattd">70-79</td><td class="stattd">${a70_perc}</td></tr>
          <tr><td class="stattd">80+</td><td class="stattd">${a80_perc}</td></tr>
          </table>
        </div> 
        -->
      </div>        
    </div>
   
  </div>
  
</div>  
  
<!-- third row -->
  
<div style="height: 20px;"></div>

<div class="container wiblock well">  
  <div class="row">    
    
    <div class="col-md-6">
      <h2>Social media</h2>
      <p style="height: 20px;"> 
      <div class="row">
        <div class="col-md-6" style="margin: auto;">
          <div style="width: 200px; margin: auto;">
            <canvas id="chart_soc" width="200" height="200" style="text-align: center"></canvas>
          </div> 
        </div> 
        <div class="col-md-4">        
          <table class="stattable" style="width: 100px; margin-top: 50px; 
            margin-left: auto; margin-right: auto;">
          <tr><td class="stattd">Facebook</td><td class="stattd">${facebook_perc}</td></tr>
          <tr><td class="stattd">Google+</td><td class="stattd">${googleplus_perc}</td></tr>
          <tr><td class="stattd">Instagram</td><td class="stattd">${instagram_perc}</td></tr>
          </table>
        </div> 
      </div>        
    </div>
    
    <div class="col-md-6">
      <h2>Keywords</h2>
      <p style="height: 20px;"> 
      <div class="row">
        <div class="col-md-6" style="margin: auto;">
          <div style="width: 200px; margin: auto;">
            <canvas id="chart_key" width="400" height="250" style="text-align: center"></canvas>
          </div> 
        </div> 
        <!--
        <div class="col-md-4">        
          <table class="stattable" style="width: 100px; margin-top: 0px; 
            margin-left: auto; margin-right: auto;">
          <tr><td class="stattd">Sport</td><td class="stattd">10&nbsp;%</td></tr>
          <tr><td class="stattd">Cars</td><td class="stattd">10&nbsp;%</td></tr>
          <tr><td class="stattd">Design</td><td class="stattd">10&nbsp;%</td></tr>
          <tr><td class="stattd">Cooking</td><td class="stattd">10&nbsp;%</td></tr>
          <tr><td class="stattd">Outdoors</td><td class="stattd">10&nbsp;%</td></tr>
          <tr><td class="stattd">Education</td><td class="stattd">10&nbsp;%</td></tr>
          </table>
        </div> 
        -->
      </div>        
    </div>
   
  </div>
  
  <!-- third row -->
  <!--
  <div class="row">
    <div class="col-md-12">
       
      <p>
      ${rawstats}
      <p>
      
    </div>
  </div>
  -->
  
</div>  

<script>
var data_sex = [
    {
        value: ${female_count},
        color:"#d34836",
        highlight: "#ff0000",
        label: "Female",
    },
    {
        value: ${male_count},
        color: "#627aad",
        highlight: "#0000ff",
        label: "Male"
    },
];

/*
var data_age = [
    { value: ${a0}, color:"#eeffee",  highlight: "#ff0000",  label: "0-9"},
    { value: ${a10}, color:"#ccffcc",  highlight: "#ff0000",  label: "10-19"},
    { value: ${a20}, color:"#aaffaa",  highlight: "#ff0000",  label: "20-29"},
    { value: ${a30}, color:"#88ff88",  highlight: "#ff0000",  label: "30-39"},
    { value: ${a40}, color:"#66ff66",  highlight: "#ff0000",  label: "40-49"},
    { value: ${a50}, color:"#44ff44",  highlight: "#ff0000",  label: "50-59"},
    { value: ${a60}, color:"#22ff22",  highlight: "#ff0000",  label: "60-69"},
    { value: ${a70}, color:"#11ff11",  highlight: "#ff0000",  label: "70-79"},
    { value: ${a80}, color:"#00ff00",  highlight: "#ff0000",  label: "80+"}
];
*/
var data_age = {
    labels: ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+"],
    datasets: [
        {
            label: "Age",
            fillColor: "#627aad",
            strokeColor: "#627aad",
            highlightFill: "rgba(250,0,0,0.75)",
            highlightStroke: "rgba(250,0,0,0.75)",
            data: [65, 59, 80, 81, 56, 55, 40,56, 55]
        }
    ]
}

var data_soc = [
    {
        value: ${googleplus_count},
        color:"#d34836",
        highlight: "#ff0000",
        label: "Google+"
    },
    {
        value: ${facebook_count},
        color: "#627aad",
        highlight: "#0000ff",
        label: "Facebook"
    },
    {
        value: ${instagram_count},
        color: "#666677",
        highlight: "#6666ff",
        label: "Instagram"
    }
];

/*
var data_key = [
    { value: 10, color:"#eeffee",  highlight: "#ff0000",  label: "key 9"},
    { value: 2, color:"#ccffcc",  highlight: "#ff0000",  label: "key 8"},
    { value: 5, color:"#aaffaa",  highlight: "#ff0000",  label: "key 7"},
    { value: 9, color:"#88ff88",  highlight: "#ff0000",  label: "key 6"},
    { value: 30, color:"#66ff66",  highlight: "#ff0000",  label: "key 5"},
    { value: 23, color:"#44ff44",  highlight: "#ff0000",  label: "key 4"},
    { value: 25, color:"#22ff22",  highlight: "#ff0000",  label: "key 3"},
    { value: 8, color:"#11ff11",  highlight: "#ff0000",  label: "key 2"},
    { value: 1, color:"#00ff00",  highlight: "#ff0000",  label: "key 1"}
];
*/

var data_key = {
    labels: ["Sport", "Cars", "Design", "Cooking", "Outdoors", "Education"],
    datasets: [
        {
            label: "Keywords",
            fillColor: "#627aad",
            strokeColor: "#627aad",
            highlightFill: "rgba(250,0,0,0.75)",
            highlightStroke: "rgba(250,0,0,0.75)",
            data: [165, 29, 40, 281, 6, 15]
        }
    ]
}

var ctx_sex = document.getElementById("chart_sex").getContext("2d");
var Chart_sex = new Chart(ctx_sex).Doughnut(data_sex);

var ctx_age = document.getElementById("chart_age").getContext("2d");
var Chart_age = new Chart(ctx_age).Bar(data_age);

var ctx_soc = document.getElementById("chart_soc").getContext("2d");
var Chart_soc = new Chart(ctx_soc).Doughnut(data_soc);

var ctx_key = document.getElementById("chart_key").getContext("2d");
var Chart_key = new Chart(ctx_key).Bar(data_key);
</script>