<%
def m(varname):
    return context.get(varname, "")   
%> 
<!DOCTYPE html> 
<html>
<head itemscope>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Database of the Estonian Pedagogical Archives-Museum">
<meta name="keywords" content="museum,pedagogical,Estonia,database">

<meta itemprop="itemtype" content="http://schema.org/Museum" />
<meta itemprop="name" content="Pedagoogika Arhiivmuuseumi andmebaas" />
<meta itemprop="description" content="Database of the Estonian Pedagogical Archives-Museum." />
<meta itemprop="url" content="http://arhmus.tlu.ee" />
<meta itemprop="softwareApplicationCategory" content="DeveloperApplication" />

<meta property="og:title" content="Pedagoogika Arhiivmuuseumi andmebaas"/> 
<meta property="og:url" content="${social_url}"/> 
<meta property="og:site_name" content="Pedagoogika Arhiivmuuseumi andmebaas"/> 
<meta property="og:type" content="website"/>
<meta property="og:description" content="Database of the Estonian Pedagogical Archives-Museum."/>
<meta property="fb:admins" content="tanel.tammet"/>
<meta property="fb:app_id" content="516880935062609"/>
<meta property="og:image" content="${social_image}" />

<title id="title">Arhiivmuuseumi andmebaas</title>  
<link rel="stylesheet" type="text/css" href="/tlibrary/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/tlibrary/css/core.css"></link>
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/tlibrary/css/ie8.css"></link>
<![endif]-->
<style type="text/css">
body {
 background-color:  white;
 overflow-y:scroll; 
 width: 980px;

}
content {
 /* background-color: #F5F5F5; */
 background-color:  white;
 overflow-y:scroll; 
 width: 980px;
 margin-left: auto;
 margin-right: auto;
}
</style>
<script type="text/javascript" src="/tlibrary/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/stdjavascript.js"></script>
<script type="text/javascript" src="/tlibrary/js/wordcloud2.js"></script>
<script type="text/javascript" src="/tlibrary/js/jquery.jstree.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/jquery.taggd.js"></script>
<script type="text/javascript" src="/tlibrary/js/bootstrap.file-input_2.js"></script>
<script type="text/javascript" src="/tlibrary/js/bootbox.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/tlibrary/js/excanvas.compiled.js"></script>
<![endif]-->
<script>
// initialization vars and funs

var top_link="http://arhmus.tlu.ee";
var user_lang='${user_lang}';
var cloudwords=${cloudwords};
var tag_data=${tag_data};
var can_tag=${can_tag};
var login_service='${login_service}';

var tagx,tagy,photoid; // tmp vars for tagging

$(document).ready(function(){ 
  setfilterselectors();
  init_input_fields();
  if (cloudwords) {
    WordCloud(document.getElementById('cloud_canvas'), 
      { list: cloudwords,
        backgroundColor: '#95A5A6 ', clearCanvas: true, shuffle: false, rotateRatio: 0,
        minRotation: 0, maxRotation: 0,
        hover: tghover, click: tgclick, color: tgcolor } );
  } 
  //console.log($('#ctf_op_args').val());  
  
  // correct tag buttons
  $("#attachform div.taggd-wrapper").each(function(i,e) {
    //console.log($(e).attr('id'));
    var ids=$(e).attr('id');
    var n=ids.lastIndexOf("_"); 
    var id=ids.substring(n+1);
    //console.log(i);
    if (! ((id.toString() in tag_data) && tag_data[id.toString()])) {
      $("#show_tags_btn_"+id).hide();
      $("#hide_tags_btn_"+id).hide();
      $("#start_tags_btn_"+id).css('display','inline-block');
    }     
  });  
  // correct visible field forms for object opened for editing
  setobj_visible_edit_fields();
  // Stop chrome's autocomplete from making your input fields  yellow. 
  if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
    $(window).load(function(){
      $('input:-webkit-autofill').each(function(){
        var text = $(this).val();
        var name = $(this).attr('name');
        $(this).after(this.outerHTML).remove();
        $('input[name=' + name + ']').val(text);
      });
    });
  }
     
});
</script>
</head> 

<body itemscope itemtype="http://schema.org/WebPage">
<div id="fb-root"></div>
<script>
// facebook stuff
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '${fb_id}', //'1428005727423768', // App ID
      channelUrl : '${fb_channelurl}', //'http://dijkstra.cs.ttu.ee/~tammet/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    // Check if the current user is logged in and has authorized the app
    // FB.getLoginStatus(checkFBLoginStatus);             
  };
 
// google stuff
window.___gcfg = {
  lang: 'et', // 'en-US'
  parsetags: 'auto'
};
 
function gplus_render() {
  if (login_service=="google" || login_service=="facebook" || login_service=="password") return false;
  gapi.signin.render('google_signin', {
    'callback': 'google_signinCallback',
    'clientid': '${google_id}', //'569466798629.apps.googleusercontent.com',
    'cookiepolicy': 'single_host_origin',
    'requestvisibleactions': 'http://schemas.google.com/AddActivity',
    'scope': "https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
  });
}   
//'scope': "https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
</script>

<link rel="shortcut icon" href="/tlibrary/img/favicon.ico" type="image/png">
${debug}

<div id="content">

<div class="navbar" style="background-color: #ffffff; width: 100%; margin-bottom: 0px;">
<div  id="navbar-inner"
  style="background-color: white; height: 80px; width: 980px; 
         margin-top: 10px; margin-bottom: 0px; margin-left: auto; margin-right: auto;
         padding-left: 0px;  padding-right: 0px;        
         border-width: 0px; box-shadow: 0 0px 0px; border-radius: 0px 0px 0px 0px;
         background-image: none;">
<span id="logo">
<a id="logotxt" class="brand" role="button"
 style="color: #eeeeee; padding-top: 20px;" href="http://www.tlu.ee"> 
 <img src="/tlibrary/img/logo01.png" ></a>
</span>
<span id="epamtxt" style="font-family: 'Times New Roman','Times',serif; font-size: ${_('titlesize')}em;
    font-style: italic; text-transform: uppercase; color: #333333;
    margin-left: 0px; margin-top: 5px; display: inline-block; width: 300px; line-height: 35px;
    cursor: pointer;"
    onclick="location.href='http://www.tlu.ee/et/eesti-pedagoogika-arhiivmuuseum';">   
${_('Estonian Pedagogical Archives-Museum')}</span>


<div class="pull-right" style="width: 400px;">   
  <!-- <g:plusone></g:plusone> -->
  <!--
  <div class="fb-like" 
     data-href="http://developers.facebook.com/docs/reference/plugins/like" 
     data-layout="button_count" 
     data-show-faces="false" 
     data-send="false"
     style="margin-top: 12px; height: 40px; width: 40px;"></div>
  -->   
  <div  style="vertical-align: middle; padding-top: 0px; margin-top: 3px; 
    margin-right: 0px; display: inline-block; 
    /* position:relative; left: 50px; */
    float: right;">      
    <div class="dropdown" style="vertical-align: middle; padding-top: 0px; margin-top: 0px;
      margin-right: 10px; padding-right: 0px;  
      display: inline-block; ">
      <a href="#" class="dropdown-toggle disabled-link" data-toggle="dropdown" data-trigger="hover">
      <span id="langlabel" title="Keel / Language" style="color: #666666;">${_('current_lang')}</span>
      <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" style="z-index: 200; overflow:visible; top:25px; left: -100px;">
        <li><a href="#" onclick="set_est_lang();">Estonian</a></li>
        <li><a href="#" onclick="set_eng_lang();">English</a></li>
      </ul>
    </div>
    %if m("userfullname"):
    <div style="display: inline-block; height: 28px;">&nbsp;</div>
    %else:
    <div style="display: inline-block; color: #666666;">${_('Log in')}:</div>
    <!--
    <div class="btn btn-flat btn-fb" style="margin-top: 0px; 
            width: 28px; height: 28px; margin-left: 5px; padding-right: 0px; white-space:nowrap;" 
            onclick="authUser();">                  
    </div>    
    <div class="btn btn-flat btn-google" id="google_signin" style="margin-top: 0px; 
            width: 28px; height: 28px; margin-left: 5px; padding-right: 0px; white-space:nowrap;">                  
    </div>  
    -->
    <a href="${idauth_url}">
    <div class="btn btn-id" style="margin-top: 0px; 
            white-space:nowrap;"             
            title="ID-kaart login">            
    </div> 
    </a>
    <div class="btn btn-flat btn-fb" style="margin-top: 0px; 
            width: 28px; margin-left: 6px; margin-right: 0px; padding-right: 0px; white-space:nowrap;" 
            onclick="authUser('facebook');" 
            title="Facebook login">   
      <div style="width:0px; display: inline-block;"></div>            
    </div>    
    <div class="btn btn-flat btn-google" id="google_signin" style="margin-top: 0px; 
            width: 28px; margin-left: 6px; margin-right: 0px; padding-right: 0px; white-space:nowrap;"            
            title="Google+ login">   
      <div style="width:0px; display: inline-block; "></div>              
    </div>      
    
    <!--
    <div class="btn btn-flat btn-id" style="margin-top: 0px; 
            width: 90px; margin-left: 5px; padding-right: 0px; white-space:nowrap;" 
            onclick="authUser('idkaart');" 
            title="ID-kaart login">            
      <div style="width:18px; display: inline-block;"></div>ID
    </div> 
    <div class="btn btn-flat btn-fb" style="margin-top: 0px; 
            width: 90px; margin-left: 5px; padding-right: 0px; white-space:nowrap;" 
            onclick="authUser('facebook');" 
            title="Facebook login">            
      <div style="width:18px; display: inline-block;"></div>Facebook
    </div>    
    <div class="btn btn-flat btn-google" id="google_signin" style="margin-top: 0px; 
            width: 92px; margin-left: 5px; padding-right: 0px; white-space:nowrap;"            
            title="Google+ login">            
    <div style
    -->
    <!--
    <span id="signinButton">
      <span
        class="g-signin"
        data-callback="google_signinCallback"
        data-clientid="569466798629.apps.googleusercontent.com"
        data-cookiepolicy="single_host_origin"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
      </span>
    </span>
   -->

    %endif 
  <!--
    <a class="menu01" title="help and tips" href="#myModal" data-toggle="modal">${_('Help')}</a>
   -->
  </div> 
  
  <div class="clear" style="clear: both;"></div> 
  <div style="height: 40px; margin-right: 0px; padding-right: 0px; background-color: white;
     text-align: right; margin-top: 10px;">    
    %if m("userfullname"):    
    <form action="?" method="get" id="logoutform"> 
      <span style="margin-right: 10px;">
       ${userfullname}</span>
      <input type="hidden" name="ctf_op" value="logout"/>          
      <div class="btn btn-flat" style="margin-top: 2px; 
            width: 80px; margin-left: 5px;" 
            onclick="return logout();">
      ${_('Log out')}
      </div>     
    </form>  
    %else:    
    <form action="${https_cgi_url}" method="post" id="loginform">   
      <input type="text" style="width: 120px; background-color: white !important;"
        name="username" id="loginform_username" placeholder="${_('username')}"/>
      <input type="password" id="loginform_password" style="width: 90px; background-color: white !important;"
        name="password" placeholder="${_('password')}"/>
      <input type="hidden" name="op" id="loginform_op" value="login"/> 
      <input type="hidden" name="uid" id="loginform_uid" value=""/> 
      <input type="hidden" name="auth_token" id="loginform_auth_token" value=""/> 
      <input type="hidden" name="screenname" id="loginform_screenname" value=""/> 
      <input type="hidden" name="email" id="loginform_email" value=""/> 
      <input type="hidden" name="uid" id="loginform_uid" value=""/> 
      <div class="btn btn-flat" style="margin-top: 0px; 
            width: 80px; margin-left: 5px;" onclick="$('#loginform').submit();"
            title="${_('Log in with password')}">
      ${_('Log in')}
      </div>
    </form>
    %endif
  </div>  
</div>

</div>
</div>

<!-- top bar ended -->

<div id="outersurround" style="margin-top: 6px;">
<div id="innersurround">

<div id="menus" class="singlelevel">
<ul class="menu02" style="margin-left: 0px; padding-left: 0px; margin-top: 0px;">
<li class="first">
<a href="#" onclick="menupost('home',''); return false;">${_('FRONT PAGE')}</a>
</li>
<li>
<a href="#" onclick="menupost('csearch_form',''); return false;">${_('CSEARCH')}</a>
</li>
<li>
<a href="#" onclick="menupost('ksearch_form',''); return false;">${_('KEYWORDS')}</a>
</li>
<li>
<a href="#" onclick="menupost('list','myalbums'); return false;">${_('ALBUMS')}</a>
</li>
%if m("subscription"): 
<li>
<a href="#" onclick="menupost('subscription',''); return false;">${_('REQUEST')}</a>
</li>
%endif
%if m("usereditlevel"):   
<li>
<a href="#" onclick="menupost('add','objects'); return false;">${_('ADD')}</a>
</li>
%endif 
<li>
  <a title="${_('Help')}" href="#myModal" data-toggle="modal">${_('Help')}</a>
</li>

</ul>


<div class="dropdown" style="position: relative; top:-42px; left: 800px; z-index: 200; height: 0px;">
  %if m("usereditlevel"):  
  <a href="#" class="dropdown-toggle disabled-link" data-toggle="dropdown" data-trigger="hover"
    style="text-decoration: none; margin-left: 8px;">
  <span id="adminlabel" class="adminmenu" 
       title="Administreerimisvahendid" 
       style="color: black; margin-left: 60px;">
       ${_('Admin')}</span>
  <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" style="z-index: 200; overflow:visible; top:25px;">
    <li><a href="/tlibrary/adminhelp.html" target="help">${_('Help')}</a></li>
    <li class="divider"></li>
    <li><a href="?ctf_op=list&ctf_table=dobjects">${_('Objects')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=users">${_('Users')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=albums">${_('Albums')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=categories">${_('Categories')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=licences">${_('Licences')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=comments">${_('Comments')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=files">${_('Files')}</a></li>    
    <li><a href="?ctf_op=list&ctf_table=in_photos">${_('Photo tags')}</a></li> 
    <li><a href="?ctf_op=list&ctf_table=settings">${_('Settings')}</a></li>
    <li><a href="?ctf_op=monitor" onclick="set_est_lang();">${_('Monitor')}</a></li>
  </ul>
  %else:
  <div id="social_share" style="margin-top: 0px; margin-right: 0px; display: inline-block;
    margin-left: 50px;">
    <div style="display: inline-block; width: 40px; margin-right: 10px;
    color: #666666;"><i>${_('Share')}:</i></div>
    <span onclick="fbShare(true); return false;" 
      style="margin-bottom: 5px; margin-right: 5px; cursor: hand; cursor: pointer; ">
      <img id="fb_top" height="32" width="33" 
      title="Like on Facebook" alt="Like on Facebook" src="/tlibrary/img/facebook_top_rnd.png"/>
    </span>
    <span onclick="gplusShare(true); return false;" 
      style="margin-bottom: 5px; margin-right: 5px; cursor: hand; cursor: pointer; ">
      <img id="google_top" height="32" width="33" 
      title="Google plus" alt="Google plus" src="/tlibrary/img/google_top_red_rnd.png"/>
    </span>  
    <!--
    <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" 
       data-width="100" data-layout="button_count" data-show-faces="false" 
       data-send="false"></div>
    <div class="g-plusone" data-annotation="none"></div>
    -->
  </div>
  %endif    
</div>

</div>




<div id="${warningid}">
${warning}
</div>

<div id="maincontent">
<form name="mainform" id="mainform" action="?" method="post">
${main}
</form>
<form name="attachform" id="attachform" action="?" enctype="multipart/form-data" method="post">
${attach}
</form>
<form name="commentform" id="commentform" action="?" method="post">
${comment}
</form>
</div>

</div>

<div id="footer" style="background-color: white; height: 50px; margin-top: 0px; padding-top: 10px;">
<img src="/tlibrary/img/footer_logo_white.jpg" 
   class="img-rounded"
   style="margin-right: 0px; padding-right: 0px; margin-left: auto; text-align:right;">
</div>
</div>

<!-- main content ended -->


<!-- help popup start -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
<h3 id="myModalLabel">Arhiivi kasutamise abi</h3>
</div>
<div class="modal-body">
<p>
Arhiivis on ca 100.000 objekti, mis jagunevad käsikirjadeks, trükisteks, fotodeks, filmideks,
audioklippideks, slaidideks ja esemeteks. Osad objektid - sh enamus fotosid ja filme - on digiteeritud
ning neid saab otse veebilehitsejast vaadata ja enda arvutisse tõmmata.

<h4>Sisselogimine</h4>

Otsingute ja objektide vaatamise jaoks ei ole sisse logida vaja. Facebooki ja googlega sisselogimine
on kõigile vaba ning annab sulle täiendavalt võimaluse ise fotosid sildistada, objektidele 
kommentaare lisada ja koostada omaenda
privaat-albumeid ehk huvipakkuvate objektide loetelusid.
<p>
Arhiivimuuseumi töötajad saavad sisse logida parooliga: selliselt sisse logituna saab uusi objekte
lisada, vanu muuta ja kustutada ning teha muid administreerimistegevusi.

<h4>Otsing</h4>

Objekte saad otsida nii esilehelt kui liitotsingust. <b>Esilehelt</b> tehakse otsing korraga 
kohaviida, autori, pealkirja, avaldamiskoha, kokkuvõtte ja märksõnade väljadelt. <b>Liitotsingu</b> puhul saad 
ise valida, millistelt väljadelt otsid: kui täidad mitu välja, otsitakse objekte, mille kõigil sinu täidetud
väljadel vastav sisu (tingimused "ja" järgi). Kuna autori ja pealkirja jaoks on objektidel mitu erinevat
välja, otsitakse nende kastide sisu kõigist taolistest väljadest.
<p>
Otsing toimub teksti <i>sisalduvuse</i> järgi. Otsides sõna "kool" mistahes väljalt, saad tulemuseks
kõik objektid, mille vastav väli sisaldab tekstijuppi "kool", näiteks "Ülikooli õppehoone". Suurtel ja väikestel
tähtedel seejuures erinevust ei tehta.
<p>
Pane tähele, et kummagi otsingu juures saad määrata, kas otsida iga liiki objektide seast või ainult näiteks käsikirjade
või fotode seast. Samuti saad valida, mismoodi tulemus on sorteeritud.
<p>
Kui täidad otsingu juures oleva "Ainult digiteeritud materjalid" kasti, otsitakse ainult selliseid objekte,
mille juures on kättesaadav tegelik digiteeritud pilt, film, audio- või tekstifail.
<p>
Liitotsingu juures on märksõnade valikupuu, mis sisaldab paarisada kõige enamkasutatavat märksõna, mis
on jaotatud temaatilistesse harudesse. Klikkides
märksõnale, lisatakse see märksõna valikukasti. Sa võid ka ise märksõna valikukasti kirjutada mistahes
märksõna. Märksõnade puu ülemised (ja ka mõned järgmised) harud avanevad, kui klikid sõna ees olevale
kolmnurgale.

<h4>Objekti vaade</h4>

Klikkides otsitulemuse reale, näed infot objekti kohta. Kui objektiga on seotud reaalne foto, film, heli- või mõni 
muu fail, ilmub see objekti info alla. Fotode täisversiooniks on foto all omaette nupp, teistliiki failide puhul
aga nupp lihtsalt faili avamiseks / oma arvutisse tõmbamiseks. Fotode ja filmide jaoks on ka nupp, mis annab
sulle html koodi juhuks, kui soovid seda fotot/filmi omaenda veebilehele panna.
<p>
Objekti juures olevatele märksõnadele klikkides otsitakse sulle kõiki objekte, millel seesama märksõna küljes.
Samamoodi otsitakse autorile klikkides objekte, millel sama autor. 
<p>
Fotosid on võimalik sildistada, st märkida ära valitud kohad fotol. Kui fotol on juba mõned sildid, on foto
all nupp "Näita silte".
<p>
Sa saad fotosid ise sildistada ja kõigile objektidele kommentaare lisada, kui oled Facebooki või Googlega 
sisse loginud. Sinu sildid ja kommentaarid on kõigile kasutajatele nähtavad. Oma silte ja kommentaare saad
kustutada: sildi kustutamiseks vajuta sildile ja ütle dialoogiaknas "OK".

<h4>Märksõnad</h4>

Enamuse objektidega on seotud hulk märksõnu. Märksõnade menüüst saad vaadata, millised märksõnad 
on kasutusel ja siis ka kohe vaadata, mis objektid on antud märksõnaga seotud.
<p>
Märksõna-otsingu tulemuseks on loetelu kõigist märksõnadest, mis sisaldavad otsikasti sisestatud sõna.
Kui sisestad näiteks sõna "kool", saad tulemuseks pika loetelu märksõnadest, mis sisaldavad tekstijuppi "kool".
Seejuures on iga märksõna järel objektide arv, millel antud märksõna küljes. Kui klikid kuvatud märksõnale
märksõna-otsitulemuses, saad tulemuseks juba vastavad objektid.
<p>
Märksõnade puu märksõna-kasti all on täpselt seesama, mis liitotsingu juures: siit leialt lihtsalt
enamlevinud märksõnad. Märksõnale vajutamine puus kopeerib ta märksõna-otsingukasti.

<h4>Albumid</h4>

Muuseum koostab ja täiendab vahete-vahel uusi albume ehk loetelusid mingitel konkreetsetel 
teemadel. Siit saad vaadata muuseumi poolt avalikuks tehtud loetelusid ja - kui oled Facebooki või
Googlega sisse loginud - koostada ka oma loetelusid. Keegi teine peale sinu ei näe sinu loodud loetelusid.
<p>
Oma loetelu koostamiseks vajuta "Lisa" nuppu ja anna loetelule nimi. Kui sa nüüd täidad objektide
otsingutulemuses objektide eest mingi hulga valikukaste, saad sealtsamas otsingutulemuse kohal "Lisa albumisse"
nupu kaudu valitud objekte oma loetelusse lisada.
<p>
NB! Enne albumisse objektide lisamist tuleb ta valmis teha: korraga teha uus album ja sinna sama
liigutusega objekte lisada ei saa.
<p>
Albumite menüü kaudu saad ka loetelust elemente kustutada või siis kustutada terve loetelu.
<p>
Pane tähele, et kui sa ei ole muuseumi töötaja, siis avalikke loetelusid sa täiendada, muuta ega kustutada
ei saa.

<h4>Tellimused</h4>

Kui soovid muuseumist saada enda kätte reaalseid objekte, pead koostama muuseumile tellimuse. 
Selleks vajuta objekti vaatest nupule "Lisa tellimusele", mis koostab tellimuse ja lisabki 
sinna antud objekti. Muidugi saad lisada tellimusele ka järgmisi objekte ja varasemaid kustutada.
<p>
kui oled Facebooki või Googlega sisse loginud, saad tellimusele lisada mitu valitud objekti kohe
objektide loetelust: ei ole tingimata vaja minna objekti vaatesse.
<p>
Tellimuse saatmiseks saada muuseumile e-kiri aadressile epam@epam.tlu, pannes pealkirjaks "Tellimus"
ja kopeerides kirja "Tellimuse" lehel alt vormist soovitud säilikud koos nende ees oleva koodiga.
<p>
Kirja algusse lisa kindlasti oma nimi ning kontaktinfo.

<p>
<img src="/tlibrary/img/footer_logo_white.jpg" 
   class="img-rounded"
   style="margin-right: 0px; padding-right: 0px; margin-left: auto; text-align:right;">
</div>
<div class="modal-footer">
<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Sulge</button>
</div>
</div>

<!-- help popup end -->

<!-- special tagging div -->

<div id="tagnamediv" style="width: 250px; display: none;">
  <span class="taggd-ptr-item" style="display: inline-block;"></span>
  <div style="display: inline-block; position: relative; top: -5px; left: -5px;">
  <input type="text" class="input-small" id="tagname" placeholder="tag"></input>
  <button class="btn btn-inverse" onclick="save_tag()">${_('Save')}</button>
  </div>
</div>

<!-- at end scripts -->

<script>

// facebook stuff

(function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
 }(document));  
 
// google stuff

if (!(login_service=="google" || login_service=="facebook" || login_service=="password")) {
(function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js?onload=gplus_render';
   //po.src = 'https://apis.google.com/js/plusone.js?';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
} else {
(function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   //po.src = 'https://apis.google.com/js/client:plusone.js?onload=gplus_render';
   po.src = 'https://apis.google.com/js/plusone.js?';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
}

// google analytics

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44783009-1', 'tlu.ee');
  ga('send', 'pageview');

</script>

</script>

</body>
</html>
 


