<%
def m(varname):
    return context.get(varname, "")   
%> 
<!DOCTYPE html> 
<html>

<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="description" content="Database of the Estonian Pedagogical Archives-Museum" />
<meta name="keywords" content="museum,pedagogical,Estonia,database" />
<title id="title">Arhiivmuuseumi andmebaas</title>  
<link rel="stylesheet" type="text/css" href="/tlibrary/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/tlibrary/css/core.css"></link>
<style type="text/css">
body {
 /* background-color: #F5F5F5; */
 background-color:  #F5F5F5;
 overflow-y:scroll;
}
</style>
<script type="text/javascript" src="/tlibrary/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/stdjavascript.js"></script>
<script type="text/javascript" src="/tlibrary/js/wordcloud2.js"></script>
<!--[if lt IE 9]><script type="text/javascript" src="/tlibrary/js/excanvas.compiled.js"></script><![endif]-->
<script>
// initialization vars and funs

var cloudwords=${cloudwords};

$(document).ready(function(){ 
  setfilterselectors();
  init_input_fields();
  if (cloudwords) {
    WordCloud(document.getElementById('cloud_canvas'), 
      { list: cloudwords,
        backgroundColor: '#95A5A6 ', clearCanvas: true, shuffle: false, rotateRatio: 0,
        minRotation: 0, maxRotation: 0,
        hover: tghover, click: tgclick, color: tgcolor } );
  }      
});
</script>
</head> 

<body itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="/tlibrary/img/favicon.ico" type="image/png">
<div class="navbar" style="background-color: #ffffff; width: 100%; margin-bottom: 0px;">
<div class="navbar-inner" 
  style="background-color: white; height: 80px; max-width: 980px; 
         padding-top: 10px; margin-bottom: 0px; margin-left: auto; margin-right: auto;
         padding-left: 0px;  padding-right: 0px;        
         border-width: 0px; box-shadow: 0 0px 0px; border-radius: 0px 0px 0px 0px;
         background-image: none;">
<span id="logo">
<a id="logotxt" class="brand" role="button"
 style="color: #eeeeee; padding-top: 20px;" href="#"
 onclick="menupost('list','messages'); return false;">
 <img src="/tlibrary/img/logo01.png" ></a>
</span>

<span style="font-family: 'Times New Roman','Times',serif; font-size: 2em;
    font-style: italic; text-transform: uppercase; color: #333333;
    margin-left: 0px; margin-top: 5px; display: inline-block; width: 300px; line-height: 35px;">
Eesti Pedagoogika Arhiivmuuseum</span>


<div class="pull-right" style="width: 400px;">   
  <div class="menu01" style="vertical-align: middle; padding-top: 0px; margin-top: 3px; 
    margin-right: 5px; display: inline-block; text-align: right;
    position:relative; left: 50px;
    margin-left: 30px;">
  <a class="menu01" title="help and tips" href="#myModal" data-toggle="modal">Abi</a>
  </div>  
  <div class="menu01" style="vertical-align: middle; padding-top: 0px; margin-top: 3px; 
    margin-right: 0px; display: inline-block; text-align: right;
     position:relative; left: 50px;
    margin-left: 5px;">    
   <a class="menu01" href="http://www.tlu.ee">Logi sisse facebookist</a>
  </div>
  <div class="dropdown" style="vertical-align: middle; padding-top: 0px; margin-top: 3px;
      margin-right: 0px; padding-right: 0px;  
      display: inline-block; ">
    <a href="#" class="dropdown-toggle disabled-link" data-toggle="dropdown" data-trigger="hover"
    style="margin-left: 80px;">
    <span id="langlabel" title="Keel" style="color: #666666;">Estonian</span>
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" >
      <li><a href="#" onclick="alert('est');">Estonian</a></li>
      <li><a href="#" onclick="alert('eng');">English</a></li>
    </ul>
  </div>
  <div class="clear" style="clear: both;"></div> 
  <div style="height: 40px; margin-right: 0px; padding-right: 0px; background-color: white;
     text-align: right; margin-top: 10px;">    
    %if m("userfullname"):    
    <form action="?" method="get" id="logoutform"> 
      <span style="margin-right: 10px;">
       ${userfullname}</span>
      <input type="hidden" name="ctf_op" value="logout"/>          
      <div class="btn btn-flat" style="margin-top: 2px; 
            width: 80px; margin-left: 5px;" onclick="$('#logoutform').submit();">
      ${_('Log out')}
      </div>     
    </form>  
    %else:    
    <form action="?" method="post" id="loginform">   
      <input type="text" style="width: 120px;"
        name="username" placeholder="kasutajanimi"/>
      <input type="password" style="width: 90px;"
        name="password" placeholder="parool"/>
      <input type="hidden" name="op" value="login"/> 
      <div class="btn btn-flat" style="margin-top: 0px; 
            width: 80px; margin-left: 5px;" onclick="$('#loginform').submit();">
      ${_('Log in')}
      </div>
    </form>
    %endif
  </div>  
</div>

</div>
</div>

<!-- top bar ended -->

<!-- <div id="outersurround" style="margin-top: 6px;"> -->
<!-- <div id="innersurround"> -->
<div style="background-color: #95A5A6; 
  width: 980px;	
  margin-left: 0px;
  padding-left:0px;
  padding-right:0px;
  margin-left:auto;
  margin-right:auto;
  padding-top:0px;
  margin-top:0px;">


<div style="width: 980px; 
  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
  padding-top:0px;
  margin-top:0px;">



<div id="menus" class="singlelevel">
<ul class="menu02" style="margin-left: 0px; padding-left: 20px; margin-top: 0px;">
<li class="first">
<a href="#" onclick="menupost('home',''); return false;">ESILEHT</a>
</li>
<li>
<a href="#" onclick="menupost('list','objects'); return false;">LIITOTSING</a>
</li>
<li>
<a href="#" onclick="menupost('persons',''); return false;">ISIKUNIMED</a>
</li>
<li>
<a href="#" onclick="menupost('keywords',''); return false;">MÄRKSÕNAD</a>
</li>
</ul>
</div>

<div id="${warningid}">
${warning}
</div>

<div id="maincontent" style="background-color: #F5F5F5;">

<form name="mainform" id="mainform" action="?" method="post">
${main}
</form>

</div>

</div>

<div id="footer" style="background-color: white; height: 50px; margin-top: 0px; padding-top: 10px;">
<img src="/tlibrary/img/footer_logo_white.jpg" 
   class="img-rounded"
   style="margin-right: 0px; padding-right: 0px; margin-left: auto; text-align:right;">
</div>
</div>



<!-- main content ended -->


<!-- help popup start -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
<h3 id="myModalLabel">Arhiivi kasutamise abi</h3>
</div>
<div class="modal-body">
<p>Siia abitekst ...
</ul>

<p>
<img src="/tlibrary/img/footer_logo_white.jpg" 
   class="img-rounded"
   style="margin-right: 0px; padding-right: 0px; margin-left: auto; text-align:right;">
</div>
<div class="modal-footer">
<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Sulge</button>
</div>
</div>

<!-- help popup end -->


<!-- at end scripts -->


</body>
</html>
 


