<%
def m(varname):
    return context.get(varname, "")   
%> 
<!DOCTYPE html>
<html lang="en">
<head itemscope>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="FP prototype">
<meta name="author" content="Tanel Tammet">
<meta name="keywords" content="FP" /> 

<!--
<meta itemprop="itemtype" content="http://schema.org/SoftwareApplication" />
<meta itemprop="name" content="FP" />
<meta itemprop="description" content="FP" />
<meta itemprop="url" content="http://www.fp.org" />
<meta itemprop="softwareApplicationCategory" content="DeveloperApplication" />

<meta property="og:title" content="FP"/> 
<meta property="og:url" content="http://www.fp.org"/> 
<meta property="og:site_name" content="FP"/> 
<meta property="og:type" content="website"/>
<meta property="og:description" content="FP"/>
<meta property="fb:admins" content="tanel.tammet"/>
-->

<link rel="shortcut icon" href="/fp/img/favicon.ico">

<title>FP prototype</title>

<link href="/fp/css/bootstrap.min.css" rel="stylesheet">
<link href="/fp/css/material.css" rel="stylesheet">
<!-- <link href="/fp/css/ripples.css" rel="stylesheet"> -->
<!-- <link href="/fp/css/material-wfont.css" rel="stylesheet"> -->
<!-- Custom styles for this template -->
<link href="/fp/css/core.css" rel="stylesheet">
<link href="/fp/css/fp.css" rel="stylesheet">
<link href="/fp/css/bootstrap-tagsinput.css" rel="stylesheet">

<!-- js stuff -->

<!-- <script src="/fp/js/jquery-1.11.1.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/fp/js/bootstrap.min.js"></script>
<script src="/fp/js/bootstrap.file-input_2.js"></script>
<script src="/fp/js/Chart.min.js"></script>
<script src="/fp/js/jquery.stellar.min.js"></script>
<!-- <script src="/fp/js/material.js"></script> -->
<script src="/fp/js/fp.js"></script>
<!-- <script src="/fp/js/ripples.js"></script> -->
<script src="/fp/js/bootstrap-tagsinput.min.js"></script>
<script>

// initialization vars and funs

var top_link="http://full-profile.com";
var user_lang='${user_lang}';
var cloudwords=${cloudwords};
var tag_data=${tag_data};
var can_tag=${can_tag};
var login_service='${login_service}';

var tagx,tagy,photoid; // tmp vars for tagging

function gid(x) { return document.getElementById(x); }

$(document).ready(function(){  
  
  $(window).stellar();
  
  tagging('tags1');
  tagging('tags2');
  gid('fileinput').addEventListener('change', handleFileSelect, false);
})




// reading a file

function handleFileSelect(evt) {
  var files = evt.target.files; 
  for (var i = 0, f; f = files[i]; i++) {
    var reader = new FileReader();
    reader.onload = (function(theFile) {
      return function(e) { gid('names').value=e.target.result; };
    })(f);
    reader.readAsText(f);
  }
}

function nameexample() {
  var s="John Smith\nKelly Whitespace";
  gid('names').value=s;
}


function add_tag(tagname,nr) {
  if ( $('#tag'+nr).prop('selectedtag')==1) {
     $('#tag'+nr).css('background-color','#4285f4');
     $('#tag'+nr).prop('selectedtag',0);
  } else {
     $('#tag'+nr).css('background-color','orange');
     $('#tag'+nr).prop('selectedtag',1);
  }   
  //var elt = $('#tags1');
  /*
  elt.tagsinput('add', { "value": nr , "text": tagname   , "continent": "Europe"    });
  var elt = $('#tags2');
  elt.tagsinput('add', { "value": nr , "text": tagname   , "continent": "Europe"    });
  */
}

function tagging(id) {
 
  var elt = $("#"+id);
  elt.tagsinput({
    tagClass: function(item) {
      switch (item.continent) {
        case 'Europe'   : return 'label label-primary';
        case 'America'  : return 'label label-danger label-important';
        case 'Australia': return 'label label-success';
        case 'Africa'   : return 'label label-default';
        case 'Asia'     : return 'label label-warning';
      }
    },
    itemValue: 'value',
    itemText: 'text',
   
  });
  elt.tagsinput('add', { "value": 1 , "text": "Amsterdam"   , "continent": "Europe"    });
  elt.tagsinput('add', { "value": 4 , "text": "Washington"  , "continent": "America"   });
  elt.tagsinput('add', { "value": 7 , "text": "Sydney"      , "continent": "Australia" });
 

}
</script>

<style>

body {  	
  ${background}
  ${background_size}
  background-repeat: repeat-x;  
  font-family: "Open Sans Light","Open Sans",Roboto,Arial,Helvetica,sans-serif;
  /*
  background-color: #dddddd;
  */ 
}

a.navbar-brand:hover { 
   color: #ffffff !important;
}
.mylogo:hover { 
    color: #ffffff !important;
    transition: color 0.5s ease;
}


.signup:hover {
   background-color: #aaaaaa !important;
   transition: background-color 0.5s ease;
   border: 2px solid rgb(34, 49, 63) !important;
   
   color: #000000 !important;   
}

.tryfree {   
  cursor: pointer;
  /* background-color: rgb(34, 49, 63) !important;  */
} 

.tryfree:hover {
  cursor: pointer;
  background-color: rgb(34, 49, 63) !important;
  transition: background-color 0.5s ease;
  
  border-color: rgb(34, 49, 63) !important;
  opacity: 1 !important;
  transition: border-color 0.5s ease;
  /* color: black !important; */
} 

.wiblock {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
a, a:active, a:focus {
  outline: none;
}

.modal-open {
  overflow: scroll;
}

</style>
</head>

<body data-stellar-background-ratio="0.5">

<div id="fb-root"></div>
<script>

// facebook stuff
window.fbAsyncInit = function() {
  FB.init({
    appId      : '1428005727423768',  // FB App ID
    channelUrl : 'http://ec2-54-93-167-109.eu-central-1.compute.amazonaws.com/fp/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });
  // Check if the current user is logged in and has authorized the app
  // FB.getLoginStatus(checkFBLoginStatus);             
};
 
// google stuff
window.___gcfg = {
  lang: 'et', // 'en-US'
  parsetags: 'auto'
};
 
function gplus_render() {
  if (login_service=="google" || login_service=="facebook" || login_service=="password") return false;
  gapi.signin.render('google_signin', {
    'callback': 'google_signinCallback',
    'clientid': '569466798629.apps.googleusercontent.com', // Google App ID
    'cookiepolicy': 'single_host_origin',
    'requestvisibleactions': 'http://schemas.google.com/AddActivity',
    'scope': "https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
  });
}   
//'scope': "https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"


</script>


<div class="navbar navbar-inverse navbar-static-top" 
   style="background-color: white;  opacity: 0.85 !important">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="?ctf_op=home" style="font-family: times, serif; font-size: 20px;
        color:  #eeeeee;">
        <!-- <img src="/fp/img/fp_blue_500_slogan.png" style="margin-top: 0px; padding-top: 0px; height: 50px;">  -->
        
        <img src="/fp/img/4_1_a.png" style="margin-top: 0px; padding-top: 0px; height: 25px;">
        
        <!--
        <span class="mylogo" style="color: #dddddd; ">
        Full
          <span style="margin-right: 1px;">Pr</span><img src="/fp/img/fp_mg_yellow_20.png" style="margin-top: 1px; padding-top: 0px; height: 20px; width: 20px; margin-right: 0px; 
          padding-right: 0px; position: absolute; top: 20px;"><span style="margin-left: 14px;">file</span>
        </span>  
        -->
      </a>
      
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--
        <li class="$index"><a href="?ctf_op=home">Home</a></li>         
        <li class="$tutorial"><a href="?ctf_op=tutorial">Tutorial</a></li>
        -->
        %if m("userloginlevel"):
         <li class="$admin"><a href="?ctf_op=new_profile">New list</a></li> 
         <li class="$admin"><a href="?ctf_op=my_profiles">My lists</a></li>
         <li class="$admin"><a href="?ctf_op=tutorial">Help</a></li>
        %endif
        %if m("useradminlevel"):    
          <li class="dropdown" style="padding-top: 0px;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
              Admin
              <b class="caret"></b>              
            </a>
            <ul class="dropdown-menu">
              <li class="dropmenuitem">
                <a class="dropmenuitem" href="?ctf_op=list&ctf_table=users">
                Users                
                </a>
              </li>
              <li class="dropmenuitem">
                <a class="dropmenuitem" href="?ctf_op=list&ctf_table=profiles">
                Lists               
                </a>
              </li>
              <li class="dropmenuitem">
                <a class="dropmenuitem" href="?ctf_op=list&ctf_table=persons">
                Persons               
                </a>
              </li>
              <li class="dropmenuitem">
                <a class="dropmenuitem" href="?ctf_op=view_process_log">
                Process log               
                </a>
              </li>
              <li class="dropmenuitem">
                <a class="dropmenuitem" href="?ctf_op=view_error_log">
                Error log               
                </a>
              </li>
              <!--
              <li class="divider" style="color: black;"></li>
              <li class="dropdown-header">Dropdown header</li> 
              -->
            </ul>
          </li>         
        %endif        
        <!--        
        <li class="$speed"><a href="speed.html">Speed</a></li>
        <li class="$scenarios"><a href="scenarios.html">Scenarios</a></li>
        <li class="$api"><a href="c_api.html">C API</a></li>        
        <li class="$api"><a href="python_api.html">Python</a></li> 
        <li class="$api"><a href="tools.html">Tools</a></li>
        <li class="$download"><a href="download.html">Download</a></li>
        <li class="$install"><a href="install.html">Install</a></li>       
        <li class="$licence"><a href="licence.html">Licence</a></li>
         -->            
      </ul>
      <ul class="nav navbar-nav navbar-right">
        %if m("userfullname"):
          <li class="$login"><a><span style="color: #ffffff">${userfullname}</span></a></li>
          <li class="$login"><a href="#" onclick="return logout();">Log out</a></li>
        %else:
          <li class="$login"><a href="?ctf_op=text&ctf_table=features">Features</a></li>
          <li class="$login"><a href="?ctf_op=text&ctf_table=team">Team</a></li>
          <li class="$login"><a href="#loginModal" data-toggle="modal">Log in</a></li>        
          <li class="$login">
            <div class="signup"                
               style="width: 70px; height: 30px; padding-top: 3px; text-align: center;
               border: 2px solid white; 
               background-color: transparent;
               /* background-color: rgb(34, 49, 63); */
               color: white;
               cursor: pointer;
               margin-left: 15px; margin-top: 10px;" onclick="$('#signupModal').modal('show');">          
              <a href="#signupModal" data-toggle="modal" 
                 style="color: white; text-decoration: none;">Sign up</a>            
            </div>
          </li>         
        %endif   
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!-- main content -->

${frontpage}

%if m("main"): 

  <form name="mainform" id="mainform" action="?" method="post">
  
  <div class="container wiblock well" style="display: ${predisplay}; "> <!--  style="min-height: 800px" -->   
    <div id="precontent">  
      ${pre}
    </div> 
  </div>

  <div class="container wiblock well" style="min-height: 800px; display: ${maindisplay}"> <!--  style="min-height: 800px" -->   
    <div id="content">        
      ${main}
    </div> 
  </div>
  
  </form> 
%endif

<!-- footer -->

${prefooter}

<div class="row" style="margin-top: -19px; background-color: #999999;">    
<div class="col-md-12" style="margin-top: -19px; background-color: #999999;">
<div class="ofooter" style="height: 200px;">  

    <div style="color: #666666; font-family: Avenir,Tahoma,arial; font-size: 18px;  
      text-align: center; padding-top: 50px; 
      padding-left: auto; padding-right: auto; ">    
     <div style=" padding-left: 0px;   padding-top: 30px;   
      font-family: 'Open Sans',sans-serif; font-size: 12px; ">      
      <a class="footlink" href="http://twitter.com">
       <img src="/fp/img/4_1_25.png" style="margin-right: 70px;">
       </a>
       <a class="footlink" href="?ctf_op=text&ctf_table=features">FEATURES</a> 
       <a class="footlink" href="?ctf_op=text&ctf_table=pricing">PRICING</a>  
       <a class="footlink" href="?ctf_op=text&ctf_table=terms">TERMS OF SERVICE</a>  
       <a class="footlink" href="?ctf_op=text&ctf_table=privacy">PRIVACY</a>  
       <!-- <a class="footlink" href="?ctf_op=text&ctf_table=blog">BLOG</a>  -->
       <a class="footlink" href="http://blog.full-profile.com">BLOG</a>
       <a class="footlink" href="?ctf_op=text&ctf_table=team">TEAM</a>   
       
<!--	<a href="http://facebook.com">
       <svg width="11px" class="footlink" style="margin-left: 40px; margin-right: 20px;" height="18px" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" baseProfile="full" version="1.1">
<path d="M3,10 C3,10 3,18 3,18 C3,18 7,18 7,18 C7,18 7,10 7,10 C7,10 10,10 10,10 C10,10 10,7 10,7 C10,7 7,7 7,7 C7,7 7,5 7,4 C7,4 7,3 8,3 C9,3 10,3 10,3 C10,3 10,0 10,0 C10,0 8,0 6,0 C5,0 3,2 3,3 C3,5 3,7 3,7 C3,7 1,7 1,7 C1,7 1,10 1,10 C1,10 3,10 3,10 Z " fill="currentColor">
</svg></a>
-->
     <a href="https://twitter.com/Full_Profile" target="_blank">
       <svg width="18px" class="footlink" style="margin-right: 20px;" height="16px" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" baseProfile="full" version="1.1">
<path d="M18,2 C17,3 16,3 16,3 C16,3 17,2 17,1 C17,1 16,2 15,2 C14,1 13,1 12,1 C10,1 9,2 9,4 C9,5 9,5 9,5 C6,5 3,4 1,1 C1,2 1,3 1,3 C1,5 1,6 2,6 C2,6 1,6 1,6 C1,6 1,6 1,6 C1,8 2,9 4,9 C3,10 3,10 3,10 C2,10 2,10 2,10 C3,11 4,12 5,12 C4,13 3,14 1,14 C1,14 0,14 0,14 C2,15 4,15 6,15 C12,15 16,10 16,5 C16,5 16,4 16,4 C17,4 17,3 18,2 Z " fill="currentColor">
</svg></a>
<!--
      <svg style="margin-top:3px; padding: 0" width="25px" height="25px" xml:space="preserve" enable-background="new 0 0 14 15" viewBox="2 0 14 15" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<g>
<path d="M6.6,6.7c0,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0.3,0.3,0.5,0.5s0.4,0.3,0.6,0.5c0.2,0.2,0.4,0.4,0.5,0.7 c0.1,0.3,0.2,0.6,0.2,1c0,0.4-0.1,0.8-0.3,1.2c-0.3,0.5-0.8,0.9-1.4,1.2c-0.6,0.3-1.3,0.4-2,0.4c-0.6,0-1.1-0.1-1.7-0.3 c-0.5-0.2-0.9-0.5-1.1-0.9C2,11,1.9,10.7,1.9,10.4c0-0.4,0.1-0.7,0.3-1S2.6,8.8,3,8.6C3.6,8.3,4.5,8,5.7,8C5.5,7.8,5.4,7.6,5.4,7.5 C5.3,7.3,5.3,7.2,5.3,7c0-0.2,0-0.4,0.1-0.6c-0.2,0-0.4,0-0.5,0c-0.7,0-1.2-0.2-1.7-0.6c-0.5-0.4-0.7-1-0.7-1.6 c...0.6,0.6c0.3,0.1,0.5,0.2,0.8,0.3C5,11.8,5.3,11.9,5.6,11.9 z M5.6,6c0.2,0,0.3,0,0.5-0.1c0.2-0.1,0.3-0.2,0.4-0.3C6.8,5.4,6.9,5,6.9,4.6c0-0.3,0-0.5-0.1-0.8C6.7,3.4,6.6,3.1,6.5,2.9 C6.3,2.6,6.2,2.3,5.9,2.2C5.7,2,5.4,1.9,5.1,1.9c-0.2,0-0.4,0-0.6,0.1C4.4,2.1,4.3,2.2,4.1,2.4C3.9,2.6,3.8,3,3.8,3.4 c0,0.2,0,0.4,0.1,0.7c0,0.2,0.1,0.5,0.2,0.7C4.2,5,4.3,5.2,4.5,5.4C4.6,5.6,4.8,5.7,5,5.9C5.2,6,5.4,6,5.6,6z M11,6h1.4v0.7H11v1.5 h-0.7V6.7H8.9V6h1.4V4.6H11V6z" fill="currentColor">
</g>
</svg>
-->
     </div>
    </div>
 
</div> 
</div>
</div>

<!-- login popup start  -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" 
    aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal_login">
    
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="loginModalLabel" style="color: #666666; font-size: 20px;"></h4>
      </div>
      <div class="modal-body" style="opacity: 1;">                        
        
        <div class="login_inner" >                        
        <div style="text-align: center;">

        <div class="btn btn-primary btn-fb" 
          style="width: 250px; background-color: #627aad; 
                color: #ffffff; padding-top: 4px; padding-left: 10px;
                margin-bottom: 10px;"
          onclick="authUser('facebook');">Log in with Facebook          
          </div>                
        <p>          
        <span class="btn btn-primary btn-google" 
          style="width: 250px; background-color: #d34836; 
                color: #ffffff; padding-top: 4px; padding-left: 10px;"
          id="google_signin">Log in with Google</span>          
         
        <p>
        
        <div style="margin-bottom: 50px; margin-top: 20px; color: #666666; font-size: 16px; font-weight: normal;">
        </div>
       
        <form action="${https_cgi_url}" method="post" id="loginform" 
          class="form-inline"
          style="display: inline-block;">   
          <input type="email" name="username" 
              style="width: 250px; font-size: 16px; font-weight: normal; margin-bottom: 10px;" 
              class="fld"
              id="loginform_username" placeholder="enter email"/>
          <p>    
          <input type="password" name="password"  style="width: 250px; font-size: 16px; font-weight: normal;"
              class="fld"              
              id="loginform_password"  placeholder="enter password"/>
          <input type="hidden" name="op" id="loginform_op" value="login"/> 
          <input type="hidden" name="uid" id="loginform_uid" value=""/> 
          <input type="hidden" name="auth_token" id="loginform_auth_token" value=""/> 
          <input type="hidden" name="screenname" id="loginform_screenname" value=""/> 
          <input type="hidden" name="email" id="loginform_email" value=""/> 
          <input type="hidden" name="uid" id="loginform_uid" value=""/>           
          <p>
          <span class="btn btn-primary btn-lg" onclick="$('#loginform').submit();"
                style="width: 150px; height: 35px; padding-top: 6px; margin-left: 0px;"
                title="">
          Log in
          </span>
        </form>
        </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
     
    </div>
  </div>
</div>



<!-- login popup end -->
<!--
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" 
    aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal_login">
    
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="loginModalLabel" style="color: #666666; font-size: 20px;"></h4>
      </div>
      <div class="modal-body" style="opacity: 1;">                        
        
        <div class="login_inner" >                        
          <div style="text-align: center;">

 
         
Thank You for choosing me to investigate your customers! Since we have not worked together
before, I would like to introduce you very briefly how I work.
<p></p>
I only need a little starting data of your customers who you would like to investigate. I will start my
research right after you have uploaded the data and pressed the button INVESTIGATE.
<p></p>
Although it is up to you who you would like to investigate, I strongly recommend to segment your
customers before you upload your names. This way I can investigate your customers segment by
segment and really fulfill my promise that you will know your customers like never before.
<p></p>
<img src="/fp/img/logo2.png">
<p></p>
<button class="btn btn-primary" style="background-color: #e67e22"
     type="submit">New client list</button>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
     
    </div>
  </div>
</div>

-->
<!-- welcome popup end -->



<!-- signup popup start -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" 
    aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal_login">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="signupModalLabel" style="color: #666666; font-size: 20px;"></h4>
      </div>
      <div class="modal-body">                        
        <!-- <div style="margin-bottom: 10px"><b>Social media:</b></div> -->
        <div class="login_inner" >                        
        <div style="text-align: center;">
        
        <!--
        <div style="width: 400px; text-align: center;">
        <div style="margin-bottom: 10px; margin-top: 20px; color: #666666; font-size: 16px; font-weight: normal;
          text-align: left; width: 400px; margin-left: 70px;">
        
        </div>
        </div>
        -->
        
        <div class="btn btn-primary btn-fb" 
          style="width: 250px; background-color: #627aad; 
                margin-bottom: 10px; 
                color: #ffffff; padding-top: 4px; padding-left: 10px;"
          onclick="authUser('facebook');">Sign up with Facebook          
        </div>                
        <p>          
        <span class="btn btn-primary btn-google" 
          style="width: 250px; background-color: #d34836; 
                color: #ffffff; padding-top: 4px; padding-left: 10px;"
          id="google_signin">Sign up with Google
        </span>                   
        <p>
        
        <div style="margin-bottom: 10px; margin-top: 20px; color: #666666; font-size: 16px; font-weight: normal;">
        or create an account:</div>
        <form action="${https_cgi_url}" method="post" id="signupform" 
          class="form-inline"
          style="display: inline-block;">  
          <input type="text" name="firstname" style="width: 250px; font-size: 16px; font-weight: normal;
              margin-bottom: 10px;" 
              class="fld"
              id="signupform_firstname" placeholder="First name"/>
          <p>     
          <input type="text" name="lastname" style="width: 250px; font-size: 16px; font-weight: normal;" 
              class="fld"
              id="signupform_lastname" placeholder="Last name"/>
          <p>           
          <input type="email" name="username" style="width: 250px; font-size: 16px; font-weight: normal;" 
              class="fld"
              id="signupform_username" placeholder="enter email"/>
          <p>    
          <input type="password" name="password"  style="width: 250px; font-size: 16px; font-weight: normal;"
              class="fld"              
              id="signupform_password"  placeholder="enter password"/>
          <input type="hidden" name="op" id="signupform_op" value="signup"/> 
          <input type="hidden" name="uid" id="signupform_uid" value=""/> 
          <input type="hidden" name="auth_token" id="signupform_auth_token" value=""/> 
          <input type="hidden" name="screenname" id="signupform_screenname" value=""/> 
          <input type="hidden" name="email" id="signupform_email" value=""/> 
          <input type="hidden" name="uid" id="signupform_uid" value=""/>           
          <p>
          <span class="btn btn-primary btn-lg" onclick="$('#signupform').submit();"
                style="width: 150px; height: 35px; padding-top: 6px; margin-left: 0px;"
                title="">
          Sign up
          </span>
        </form>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        -->
        <!--
        <button type="button" class="btn btn-primary">Save changes</button>
        -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- signup popup end -->



<!-- tag popup start -->

<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" 
    aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="tagModalLabel" style="color: #666666; font-size: 20px;"></h4>
        -->
      </div>
      <div class="modal-body">                        
        <!-- <div style="margin-bottom: 10px"><b>Social media:</b></div> -->
        <div>                        
        <div style="text-align: center;">
         <!-- 
         <input type='text' class="fld" style="width: 90%" name='tags'  id='tags2'>
         <p>
          -->
         <div>
          <a id="tag20" href="javascript:add_tag('katse',20);" class="tag label label-primary">katse</a>  
          <a id="tag21" href="javascript:add_tag('proov',21);" class="tag label label-primary">proov</a>          
          <a id="tag22" href="javascript:add_tag('katse',22);" class="tag label label-primary">katse</a>  
          <a id="tag23" href="javascript:add_tag('proov',23);" class="tag label label-primary">proov</a>  
          <a id="tag24" href="javascript:add_tag('katse',24);" class="tag label label-primary">katse</a>  
          <a id="tag25" href="javascript:add_tag('proov',25);" class="tag label label-primary">proov</a>  
          <div style="height: 10px;">&nbsp;</div>
          <a id="tag26" href="javascript:add_tag('katse',26);" class="tag label label-primary">katse</a>  
          <a id="tag27" href="javascript:add_tag('proov',27);" class="tag label label-primary">proov</a>          
          <a id="tag28" href="javascript:add_tag('katse',28);" class="tag label label-primary">katse</a>  
          <a id="tag29" href="javascript:add_tag('proov',29);" class="tag label label-primary">proov</a>  
          <a id="tag30" href="javascript:add_tag('katse',30);" class="tag label label-primary">katse</a>  
          <a id="tag31" href="javascript:add_tag('proov',31);" class="tag label label-primary">proov</a> 
          
         </div>

        </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">                     
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>     
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- tag popup end -->

 <!-- logout form start -->
 
<form action="?" method="get" id="logoutform">   
  <input type="hidden" name="ctf_op" value="logout"/>
</form>            

<!-- logout form end -->

<!-- at-end-scripts -->

<!-- social scripts -->

<script>

// --- login apis ----

//var login_service=null;

// facebook stuff

(function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
 }(document));  
 
// google stuff

if (!(login_service=="google" || login_service=="facebook" || login_service=="password")) {
(function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js?onload=gplus_render';
   //po.src = 'https://apis.google.com/js/plusone.js?';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
} else {
(function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   //po.src = 'https://apis.google.com/js/client:plusone.js?onload=gplus_render';
   po.src = 'https://apis.google.com/js/plusone.js?';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
}

// --- like api options ---

/*
// facebook

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=168856549986981";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// google+ 

(function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js?onload=gplus_render';
   //po.src = 'https://apis.google.com/js/plusone.js?';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();

// twitter 

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
  js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
  }}(document, 'script', 'twitter-wjs');

*/

// google analytics

/*
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44786402-1', 'whitedb.org');
  ga('send', 'pageview');
*/

</script>  
  
</body>
</html>
