

<div class="container wiblock well" style="opacity: 0.85; "> 
<div class='attachblock'>

  <div style="
    margin-bottom: 20px; 
    margin-top: 0px;
    align: center; text-align: left;
    font-size: 40px; font-weight: bold;">

  <div style="padding-top: 10px; padding-bottom: 40px;
      font-size: 30px; color: #555555;
      margin-left: auto; margin-right: auto;
      padding-left: 30px; padding-right: 30px;
     ">      

<div style="
   font-family: Bodoni,Georgia,Serif; font-weight: 100; font-size: 70px;
   text-align: center; margin-bottom: 40px; color: #333333;">       
Pricing  
</div>


<div>

<div class="row" style="font-family: Avenir, Tahoma, Arial; font-weight: 100; color: rgb(34, 49, 63); ">  
  <div class="col-md-5" style="background-color: white; padding: 0px; opacity: 1;">
    <div style="background-color: #999999; padding-left: 20px; padding-top: 15px; ">
      <div style="font-size: 45px;  margin-bottom: 20px; color: rgb(34, 49, 63);" >
        Company 
      </div>
      <div style="color: #b2ff0d; font-size: 55px; margin-bottom: 20px; ">
      25 &pound; <span style="font-size: 14px;">/mo</span>
      </div>
      <div style="font-size: 14px; padding-bottom: 15px;">
      29 EUR /mo
      <p>
      Save 17% by paying ahead a year
      </div>
    </div>  
    <div style="
      margin-top: 20px;
      font-size: 18px; background-color: white; text-align: left; padding: 10px; ">
     <div class="smrow">Up to 20 client lists</div>
     <div class="smrow">Up to 1000 names in one client list</div>
     <div class="smrow">1 user</div>
     <div class="smrow">Access to all features</div>
     <div class="smrow">Customer support</div>
    </div>
  </div>  
  <div class="col-md-2" ></div> 
  <div class="col-md-5" style="background-color: white; padding: 0px; background-color: white; opacity: 1;">
    <div style="background-color: #999999; padding-left: 20px; ">
      <div style="font-size: 45px; margin-bottom: 20px; padding-top: 15px;">
        Agency
      </div>
      <div style="color: #b2ff0d; font-size: 55px; margin-bottom: 20px;">
      250 &pound; <span style="font-size: 14px;">/mo</span>
      </div>
      <div style="font-size: 14px; padding-bottom: 15px;">
      299 EUR /mo
      <p>
      Save 17% by paying ahead a year
      </div>
    </div>  
    <div style="
      margin-top: 20px;
      font-size: 18px; background-color: white; text-align: left; padding: 10px; ">
      <div class="smrow">Unlimited number of client lists</div>
      <div class="smrow">Up to 10 000 names in one client list</div>
      <div class="smrow">Unlimited number of users</div>
      <div class="smrow">Access to all features</div>
      <div class="smrow">Customer support</div>
    </div>
  </div>  
</div>


</div>
<!--      
<div class="home_circle_in" style="margin-top: 1vh;
            /* margin-top: 120px; */
            margin-left: auto; margin-right: auto; width: 200px;">
  <div class="tryfree" style="
      /* background-color: red; */
      background-color: rgb(34, 49, 63); 
      opacity: 0.6;
      text-decoration: none;
      color: #ffffff; 
      margin-bottom: 20px; align: center; text-align: center;
      font-size: 20px; font-weight: bold; 
      padding-top: 55px;
      border-radius: 50%; 
      border: white 2px solid;
      width: 160px; height: 160px; margin-left: 25px;"
      onclick="$('#signupModal').modal('show');">
      TRY FOR<br>FREE
  </div>
</div>
-->

  </div>
  </div>
</div>
</div>


<div class="row" >    
  <div class="col-md-12 home_circle" >
<div class="home_circle_in" style="margin-top: 1vh;
            /* margin-top: 120px; */
            margin-left: auto; margin-right: auto; width: 200px;">
  <div class="tryfree" style="
      /* background-color: red; */
      background-color: rgb(34, 49, 63); 
      opacity: 0.6;
      text-decoration: none;
      color: #ffffff; 
      margin-bottom: 20px; align: center; text-align: center;
      font-size: 20px; font-weight: bold; 
      padding-top: 55px;
      border-radius: 50%; 
      border: white 2px solid;
      width: 160px; height: 160px; margin-left: 25px;"
      onclick="$('#signupModal').modal('show');">
      TRY FOR<br>FREE
  </div>
</div>
</div>
</div>







