<div class="container wiblock well"> 
<div class='attachblock'>

  <div style="
    margin-bottom: 20px; 
    margin-top: 50px;
    align: center; text-align: center;
    font-size: 40px; font-weight: bold;">

  <div style="padding-top: 20px; padding-bottom: 40px;
      font-size: 14px; font-family: serif; color: #555555;
      margin-left: auto; margin-right: auto;
      padding-left: 30px; padding-right: 30px;
      text-align: left;">      


<div style="text-align: left; font-size: 36px; font-size: 20px; margin-bottom: 30px; color: #333333;">       
Privacy Policy <p>
Effective: January 1, 2015      
</div>


<div id="contents">
<style type="text/css">.lst-kix_isg1dgx0z26h-1>li:before{content:"\0025cb  "}.lst-kix_isg1dgx0z26h-8>li:before{content:"\0025a0  "}.lst-kix_isg1dgx0z26h-5>li:before{content:"\0025a0  "}ul.lst-kix_isg1dgx0z26h-8{list-style-type:none}.lst-kix_isg1dgx0z26h-4>li:before{content:"\0025cb  "}.lst-kix_isg1dgx0z26h-7>li:before{content:"\0025cb  "}.lst-kix_isg1dgx0z26h-6>li:before{content:"\0025cf  "}.lst-kix_isg1dgx0z26h-2>li:before{content:"\0025a0  "}ul.lst-kix_isg1dgx0z26h-2{list-style-type:none}ul.lst-kix_isg1dgx0z26h-3{list-style-type:none}ul.lst-kix_isg1dgx0z26h-0{list-style-type:none}ul.lst-kix_isg1dgx0z26h-1{list-style-type:none}ul.lst-kix_isg1dgx0z26h-6{list-style-type:none}ul.lst-kix_isg1dgx0z26h-7{list-style-type:none}ul.lst-kix_isg1dgx0z26h-4{list-style-type:none}.lst-kix_isg1dgx0z26h-0>li:before{content:"\0025cf  "}ul.lst-kix_isg1dgx0z26h-5{list-style-type:none}.lst-kix_isg1dgx0z26h-3>li:before{content:"\0025cf  "}ol{margin:0;padding:0}.c1{line-height:1.5;padding-top:0pt;widows:2;orphans:2;direction:ltr;padding-bottom:11pt}.c5{line-height:1.5;padding-top:0pt;widows:2;orphans:2;direction:ltr;padding-bottom:3pt}.c0{line-height:1.5;widows:2;orphans:2;height:11pt;direction:ltr;padding-bottom:3pt}.c6{line-height:1.5;widows:2;orphans:2;direction:ltr;padding-bottom:3pt}.c7{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}.c4{font-weight:bold}.c3{font-style:italic}.c2{color:#3d464d}.title{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:21pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}.subtitle{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:13pt;font-family:"Trebuchet MS";padding-bottom:10pt;page-break-after:avoid}li{color:#000000;font-size:11pt;font-family:"Arial"}p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}h1{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:16pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h2{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:13pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h3{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:12pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h4{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;text-decoration:underline;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h5{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h6{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}</style>

<p class="c5"><p class="c0"><span></span></p><p class="c0"><span></span></p><p class="c1"><span>Here we describe how we collect, use and handle your information when you use our websites and services (&quot;Services&quot;).</span></p><p class="c5"><span class="c4">What &amp; Why</span></p><p class="c1"><span>We collect and use the following information to provide, improve and protect our Services:</span></p><p class="c1"><span class="c3">Account</span><span>. We collect, and associate with your account, information like your and your company name, contacts, payment info and so on. Some of our services let you access your accounts and your information with other service providers.</span></p><p class="c1"><span class="c3 c2">Services</span><span class="c2">. When you use our Services, we store, process and transmit Your Stuff and information related to them.</span></p><p class="c1"><span class="c3">Usage</span><span>. We collect information from and about the devices you use to access the Services. This includes things like IP addresses, the type of browser and device you use, the web page you visited before coming to our sites, and identifiers associated with your devices. Your devices (depending on their settings) may also transmit location information to the Services.</span></p><p class="c1"><span class="c2 c3">Cookies and other technologies</span><span class="c2">. We use technologies like </span><span class="c2">cookies and pixel tags</span><span class="c2"> to provide, improve, protect and promote our Services. For example, cookies help us with things like remembering your username for your next visit, understanding how you are interacting with our Services, and improving them based on that information. You can set your browser to not accept cookies, but this may limit your ability to use the Services.</span></p><p class="c1"><span class="c4">With whom</span></p><p class="c1"><span>We may share information as discussed below, but we won&#39;t sell it to advertisers or other third-parties.</span></p><p class="c1"><span class="c3">Others working for Full Profile</span><span>. Full Profile uses certain trusted third parties to help us provide, improve, protect, and promote our Services. These third parties will access your information only to perform tasks on our behalf and in compliance with this Privacy Policy.</span></p><p class="c1"><span class="c3">Other users</span><span>. Our Services display information like your name and email address to other users in places like your user profile and sharing notifications. Certain features let you make additional information available to other users.</span></p><p class="c1"><span class="c3">Law &amp; Order</span><span>. We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of Full Profile or our users; or (d) protect Full Profile&#39;s property rights.</span></p><p class="c1"><span class="c2">Stewardship of your data is critical to us and a responsibility that we embrace. We believe that our users&#39; data should receive the same legal protections regardless of whether it&#39;s stored on our services or on their home computer&#39;s hard drive.</span></p><p class="c1"><span class="c4">How</span></p><p class="c1"><span class="c3">Security</span><span>. We have a team dedicated to keeping your information secure and testing for vulnerabilities. We also continue to work on features to keep your information safe in addition to things like two-factor authentication, encryption of files at rest, and alerts when new devices and apps are linked to your account.</span></p><p class="c1"><span class="c3">Retention</span><span>. We&#39;ll retain information you store on our Services for as long as we need it to provide you the Services. If you delete your account, we&#39;ll also delete this information. But please note: (1) there might be some latency in deleting this information from our servers and back-up storage; and (2) we may retain this information if necessary to comply with our legal obligations, resolve disputes, or enforce our agreements.</span></p><p class="c5"><span class="c4">Where</span></p><p class="c1"><span class="c3">Around the world</span><span>. To provide you with the Services, we may store, process and transmit information in locations around the world - including those outside your country. Information may also be stored locally on the devices you use to access the Services.</span></p><p class="c5"><span class="c4">Changes</span></p><p class="c1"><span>If we are involved in a reorganization, merger, acquisition or sale of our assets, your information may be transferred as part of that deal. We will notify you (for example, via a message to the email address associated with your account) of any such deal and outline your choices in that event.</span></p><p class="c1"><span>We may revise this Privacy Policy from time to time, and will post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you.</span></p><p class="c5"><span class="c4">Contact</span></p><p class="c1"><span class="c2">Have questions or concerns about Full Profile, our Services and privacy? Contact us at info@full-profile.com</span></p>
</div>

  </div>
  </div>
</div>
</div>





