<div class="container">
  <!-- Example row of columns -->
  <div class="row">    
    
    <table>
    <tr>
    
    <td>
    <h2>Sex</h2>
    <p>
    <div style="width: 200px; margin: auto">
      <canvas id="chart_sex" width="200" height="200" style="text-align: center"></canvas>
    </div>
    <div style="width: 100px; margin: auto">
      <table class="stattable" >
      <tr><td class="stattd">Female</td><td class="stattd">${female_count}</td></tr>
      <tr><td class="stattd">Male</td><td class="stattd">${male_count}</td></tr>
      </table>
    </div>
    </td>
    
    <td>
    <h2>Social media</h2>
    <p>
    <div style="width: 200px; margin: auto">
      <canvas id="chart_soc" width="200" height="200" style="text-align: center"></canvas>
    </div> 
    <div style="width: 100px; margin: auto">
      <table class="stattable" >
      <tr><td class="stattd">Facebook</td><td class="stattd">${facebook_count}</td></tr>
      <tr><td class="stattd">Google+</td><td class="stattd">${googleplus_count}</td></tr>
      <tr><td class="stattd">Instagram</td><td class="stattd">${instagram_count}</td></tr>
      </table>
    </div>    
    </td>
    
    </tr>
    </table>
    <p>
    ${rawstats}
    <p>
    
  </div>
</div>  

<script>
var data_sex = [
    {
        value: ${female_count},
        color:"#d34836",
        highlight: "#ff0000",
        label: "Female",
        labelColor : 'white',
        labelFontSize : '10',
        labelAlign : 'left'
        
    },
    {
        value: ${male_count},
        color: "#627aad",
        highlight: "#0000ff",
        label: "Male"
    },
];

var data_soc = [
    {
        value: ${googleplus_count},
        color:"#d34836",
        highlight: "#ff0000",
        label: "Google+"
    },
    {
        value: ${facebook_count},
        color: "#627aad",
        highlight: "#0000ff",
        label: "Facebook"
    },
    {
        value: ${instagram_count},
        color: "#666677",
        highlight: "#6666ff",
        label: "Instagram"
    }
];

var ctx_sex = document.getElementById("chart_sex").getContext("2d");
var Chart_sex = new Chart(ctx_sex).Doughnut(data_sex);

var ctx_soc = document.getElementById("chart_soc").getContext("2d");
var Chart_soc = new Chart(ctx_soc).Doughnut(data_soc);
</script>