
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<!-- first, meta-block -->

<div class="container wiblock well">  
  <div class="row">    
    
    <div class="col-md-12">
      <!-- <h2>List &nbsp; <b>${list_name}</b> tagged as <i>specials</i>, <i>late</i></h2> -->
      <h2><b>my most loyal customers</b></h2>
      <div style="text-align: center; margin-bottom: 20px;">
          <!-- ${list_length} names, created at ${created_at}. -->
          <img src='/fp/img/tags_wb2.png' style='margin-left: 20px;'></img> <i>specials</i>, <i>late</i>
          <img src='/fp/img/listcount_wb.png' style='margin-left: 20px;'> 23 names
          <img src='/fp/img/calendar_wb.png' style='margin-left: 20px;'></img> ${created_at}
          <p>
          
          <!-- Tagged as <i>specials</i>, <i>late</i>. ${list_length} names. Created at ${created_at}. -->
      </div>    
      <!--
      <div class="row">
        <div class="col-md-12" style="padding-top: 15px; margin-left: auto; margin-right: auto;">
          Contains <b>${list_length}</b> names, was created at ${created_at}.
        </div>       
      </div>  
      -->
      <div class="row">
        <!--
        <div class="col-md-6" style="padding-top: 15px; margin-left: auto; margin-right: auto;">
          Contains <b>${list_length}</b> names, was created at ${created_at}.
        </div> 
        -->
        <div class="col-md-12" style="margin-left: auto; margin-right: auto;">          
          <form name="mainform" id="mainform" action="?" method="post"
             style="text-align: center;">
             
            <input id="ctf_op" type="hidden" value="profile_persons" name="ctf_op">
            <input id="ctf_nextop" type="hidden" value="my_profiles" name="ctf_nextop">
            <input id="ctf_lastop" type="hidden" value="my_profiles" name="ctf_lastop">
            <input id="ctf_table" type="hidden" value="objects" name="ctf_table">
            <input id="ctf_rowstart" type="hidden" value="0" name="ctf_rowstart">
            <input id="ctf_rowend" type="hidden" value="50" name="ctf_rowend">
            <input id="ctf_shown_rows" type="hidden" value="50" name="ctf_shown_rows">
            <input id="ctf_sort_field" type="hidden" value="id" name="ctf_sort_field">
            <input id="ctf_sort_dir" type="hidden" value="desc" name="ctf_sort_dir">
            <input id="ctf_rowid" type="hidden" value="${list_id}" name="ctf_rowid">
            <input id="ctf_op_args" type="hidden" value="" name="ctf_op_args">
            <input id="ctf_list_ids_json" type="hidden" value="" name="ctf_list_ids_json">
            <input id="ctf_userlevel" type="hidden" value="0" name="ctf_userlevel">              
             
            <button class="btn btn-info" onclick="listcompate(${list_id});">Compare</button> 
            <button class="btn btn-info" onclick="listshare(${list_id});">Send</button>             
            <button class="btn btn-info" onclick="listcompate(${list_id});">View list</button>             
            <!-- <button class="btn btn-info" onclick="listcompate(${list_id});">New</button> -->
            <!-- <button class="btn btn-info" onclick="listcompate(${list_id});">Duplicate</button>  -->
            <!-- <button class="btn btn-info" onclick="listpersons(${list_id});">Names</button> -->
            <!-- <button class="btn btn-info" onclick="listexport(${list_id});">Export</button> -->              
            <button class="btn btn-info" onclick="listshare(${list_id});">Delete</button>
          </form>
        </div>
      </div>  
      <!--
      <div class="row">
        <div class="col-md-12" style="padding-top: 15px; margin-left: auto; margin-right: auto;">
          Debug data: ${debug_data}
        </div>       
      </div>  
      -->
    </div>
   
  </div>
</div>


<!--- second block -->


<div class="container wiblock well">  
  <div class="row">    
  <h2>Social media</h2>
    
    <div class="col-md-6">
      <!--<h2>Social media</h2> -->
      <p style="height: 20px;">       
      <div id="soc_chart_div" style="width:300; height:400; margin: auto;"></div>    
    </div>
    
    <div class="col-md-6">      
      <p style="height: 20px;"> 
      <div class="row">
      <div style="margin-bottom: 20px;">
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #4285F4; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">List Aa</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #DB4437; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">Compared list Bb</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #F4B400; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">UK average</div>
        </div>        
      </div>  
      
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      
      </div> 
      <div class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" 
        style="height: 25px; margin-top: 20px; margin-right: 10px; color: red;"></div>
      Click on bars to see details and drill-down.
      <!--
      <div class="bg-info" style="padding: 10px; margin-top: 10px;">Click on bars to see details and drill-down. 
      </div>
      -->
    </div>
   
  </div>  
</div>  



<div class="container wiblock well">  
  <div class="row">    
  <h2>Social media</h2>
    
    <div class="col-md-6">
      <!--<h2>Social media</h2> -->
      <p style="height: 20px;">       
      <div id="xsoc_chart_div" style="width:300; height:400; margin: auto;"></div>    
    </div>
    
    <div class="col-md-6">      
      <p style="height: 20px;"> 
      <div class="row">
      <div style="margin-bottom: 20px;">
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #4285F4; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">List Aa</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #DB4437; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">Compared list Bb</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #F4B400; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">UK average</div>
        </div>        
      </div>  
      
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      
      </div> 
      <div class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="height: 25px; margin-top: 20px; margin-right: 10px;"></div>
      Click on bars to see details and drill-down.
      <!--
      <div class="bg-info" style="padding: 10px; margin-top: 10px;">Click on bars to see details and drill-down. 
      </div>
      -->
    </div>
   
  </div>  
</div>  

<!-- third block -->

<div style="height: 20px;"></div>

<div class="container wiblock well">  
  <div class="row">    
  <h2>Tags</h2>
    
    <div class="col-md-6">
      <p style="height: 20px;">       
      <div id="tags_chart_div" style="width:300; height:400; margin: auto;"></div>    
    </div>
    
    <div class="col-md-6">      
      <p style="height: 20px;"> 
      <div class="row">
      <div style="margin-bottom: 20px;">
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #4285F4; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">List Aa</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #DB4437; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">Compared list Bb</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #F4B400; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">UK average</div>
        </div>        
      </div> 
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      
      </div>        
    </div>
   
  </div>  
</div>  

<!-- Fourth block -->


<div style="height: 20px;"></div>

<div class="container wiblock well">  
  <div class="row">    
  <h2>Gender</h2>
    
    <div class="col-md-6">
      <p style="height: 20px;">       
      <div id="gender_chart_div" style="width:300; height:400; margin: auto;"></div>    
    </div>
    
    <div class="col-md-6">      
      <p style="height: 20px;"> 
      <div class="row">
      <div style="margin-bottom: 20px;">
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #4285F4; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">List Aa</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #DB4437; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">Compared list Bb</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #F4B400; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">UK average</div>
        </div>        
      </div> 
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      
      </div>        
    </div>
   
  </div>  
</div>  

<!-- fourth block -->

<div class="container wiblock well">  
  <div class="row">    
  <h2>Age</h2>
    
    <div class="col-md-6">
      <p style="height: 20px;">       
      <div id="age_chart_div" style="width:300; height:400; margin: auto;"></div>    
    </div>
    
    <div class="col-md-6">      
      <p style="height: 20px;"> 
      <div class="row">
      <div style="margin-bottom: 20px;">
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #4285F4; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">List Aa</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #DB4437; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">Compared list Bb</div>
        </div>
        <div>
           <div style="display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: #F4B400; margin-right: 10px;"></div>
           <div style="display: inline-block; vertical-align: middle; ">UK average</div>
        </div>        
      </div> 
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      Here is a story about the stuff and instructions etc.
      
      </div>        
    </div>
   
  </div>  
</div>  
  
<div style="height: 20px;"></div>

<script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var soc_data = google.visualization.arrayToDataTable([
          ['', 'first list', 'second list', 'UK average', { role: 'style' } ],
          ['Facebook', 60, 21, 15, "#666666"],
          ['Twitter', 40, 35, 50, "blue"],
          ['Linkedin', 35, 37, 42, "silver"],
          ['Google plus', 20, 22, 15, "silver"]
        ]);
        
        var xsoc_data = google.visualization.arrayToDataTable([
          ['', 'first list', { role: 'style' } ],
          ['Facebook', 60,"#666666"],
          ['Twitter', 40,  "blue"],
          ['Linkedin', 35,  "silver"],
          ['Google plus', 20, "silver"]
        ]);
       
        var tags_data = google.visualization.arrayToDataTable([
          ['', 'first list', 'second list', 'UK average'],
          ['cars', 60, 21, 15],
          ['cooking', 40, 35, 50],
          ['sport', 35, 37, 42],
          ['shopping', 20, 22, 15],
          ['bikes', 60, 21, 15],
          ['children', 40, 35, 50],
          ['sailing', 35, 37, 42],
          ['lawn', 20, 22, 15],
          ['restaurants', 60, 21, 15],
          ['sights', 40, 35, 50],
          ['books', 35, 37, 42],
          ['beach', 20, 22, 15]
        ]);
         
        var gender_data = google.visualization.arrayToDataTable([
          ['', 'first list', 'second list', 'UK average'],
          ['female', 60, 21, 15],
          ['male', 40, 35, 50]          
        ]);
        
        var age_data = google.visualization.arrayToDataTable([
          ['', 'first list', 'second list', 'UK average'],
          ['10', 60, 21, 15],
          ['20', 40, 35, 50],
          ['30', 35, 37, 42],
          ['40', 20, 22, 15],
          ['50', 60, 21, 15],
          ['60', 40, 35, 50],
          ['70', 35, 37, 42],
          ['80', 20, 22, 15],
          ['90', 60, 21, 15]        
        ]);
        
        /* 
        var options = {
          
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          }, 
          bars: 'horizontal' // Required for Material Bar Charts.
        };
        */ 
 
        var options = {
          width: 400,
          height: 400,
          fontName: 'Roboto',
          fontSize: 16,
          legend: { position: 'none' }, 
          bars: 'horizontal', // Required for Material Bar Charts.
         
          colors: ['#34495e','yellow', 'orange'],
         
          animation : {
            duration: 5,
            easing: 'linear',
            startup: true
          },
          
          hAxis: { 
            format: 'none',
            gridlines: {color: '#333', count: 10},
            ticks: [10,20,30,40,50,60,70,80,90,100] 
          },
          
          vAxis : {
            textStyle: { color: '#333',   fontName: 'Roboto',   fontSize: 16,   bold: false,   italic: false }
          },
          
          series: [{color: 'black', visibleInLegend: false}, 
                   {color: 'green', visibleInLegend: false},
                   {color: 'orange', visibleInLegend: false}]
            
          /*          
          series: {0: {color: 'black', visibleInLegend: false}, 
                   1: {color: 'green', visibleInLegend: false},
                   2: {color: 'orange', visibleInLegend: false}]         
          */
        };   


        var xoptions = {
          width: 400,
          height: 400,
          fontName: 'Roboto',
          fontSize: 16,
          legend: { position: 'none' }, 
          bars: 'horizontal', // Required for Material Bar Charts.
         
          colors: ['#c0392b'],
         
          animation : {
            duration: 5,
            easing: 'linear',
            startup: true
          },
          
          hAxis: { 
            format: 'none',
            gridlines: {color: '#333', count: 10},
            ticks: [10,20,30,40,50,60,70,80,90,100] 
          },
          
          vAxis : {
            textStyle: { color: '#333',   fontName: 'Roboto',   fontSize: 16,   bold: false,   italic: false }
          },
          
         
        };   

        var chart1 = new google.charts.Bar(document.getElementById('soc_chart_div'));        
        chart1.draw(soc_data, options);
        
        var chart1x = new google.charts.Bar(document.getElementById('xsoc_chart_div'));        
        chart1x.draw(xsoc_data, options);
        
        var chart2 = new google.charts.Bar(document.getElementById('tags_chart_div'));        
        chart2.draw(tags_data, options);
        
        var chart3 = new google.charts.Bar(document.getElementById('gender_chart_div'));        
        chart3.draw(gender_data, options);
        
        var chart4 = new google.charts.Bar(document.getElementById('age_chart_div'));        
        chart4.draw(age_data, options);
       
      }
</script>
<!--
<script>
var data_sex = [
    {
        value: ${female_count},
        color:"#d34836",
        highlight: "#ff0000",
        label: "Female",
    },
    {
        value: ${male_count},
        color: "#627aad",
        highlight: "#0000ff",
        label: "Male"
    },
];

/*
var data_age = [
    { value: ${a0}, color:"#eeffee",  highlight: "#ff0000",  label: "0-9"},
    { value: ${a10}, color:"#ccffcc",  highlight: "#ff0000",  label: "10-19"},
    { value: ${a20}, color:"#aaffaa",  highlight: "#ff0000",  label: "20-29"},
    { value: ${a30}, color:"#88ff88",  highlight: "#ff0000",  label: "30-39"},
    { value: ${a40}, color:"#66ff66",  highlight: "#ff0000",  label: "40-49"},
    { value: ${a50}, color:"#44ff44",  highlight: "#ff0000",  label: "50-59"},
    { value: ${a60}, color:"#22ff22",  highlight: "#ff0000",  label: "60-69"},
    { value: ${a70}, color:"#11ff11",  highlight: "#ff0000",  label: "70-79"},
    { value: ${a80}, color:"#00ff00",  highlight: "#ff0000",  label: "80+"}
];
*/
var data_age = {
    labels: ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+"],
    datasets: [
        {
            label: "Age",
            fillColor: "#627aad",
            strokeColor: "#627aad",
            highlightFill: "rgba(250,0,0,0.75)",
            highlightStroke: "rgba(250,0,0,0.75)",
            data: [65, 59, 80, 81, 56, 55, 40,56, 55]
        }
    ]
}

var data_soc = [
    {
        value: ${googleplus_count},
        color:"#d34836",
        highlight: "#ff0000",
        label: "Google+"
    },
    {
        value: ${facebook_count},
        color: "#627aad",
        highlight: "#0000ff",
        label: "Facebook"
    },
    {
        value: ${instagram_count},
        color: "#666677",
        highlight: "#6666ff",
        label: "Instagram"
    }
];

/*
var data_key = [
    { value: 10, color:"#eeffee",  highlight: "#ff0000",  label: "key 9"},
    { value: 2, color:"#ccffcc",  highlight: "#ff0000",  label: "key 8"},
    { value: 5, color:"#aaffaa",  highlight: "#ff0000",  label: "key 7"},
    { value: 9, color:"#88ff88",  highlight: "#ff0000",  label: "key 6"},
    { value: 30, color:"#66ff66",  highlight: "#ff0000",  label: "key 5"},
    { value: 23, color:"#44ff44",  highlight: "#ff0000",  label: "key 4"},
    { value: 25, color:"#22ff22",  highlight: "#ff0000",  label: "key 3"},
    { value: 8, color:"#11ff11",  highlight: "#ff0000",  label: "key 2"},
    { value: 1, color:"#00ff00",  highlight: "#ff0000",  label: "key 1"}
];
*/

var data_key = {
    labels: ["Sport", "Cars", "Design", "Cooking", "Outdoors", "Education"],
    datasets: [
        {
            label: "Keywords",
            fillColor: "#627aad",
            strokeColor: "#627aad",
            highlightFill: "rgba(250,0,0,0.75)",
            highlightStroke: "rgba(250,0,0,0.75)",
            data: [165, 29, 40, 281, 6, 15]
        }
    ]
}

var ctx_sex = document.getElementById("chart_sex").getContext("2d");
var Chart_sex = new Chart(ctx_sex).Doughnut(data_sex);

var ctx_age = document.getElementById("chart_age").getContext("2d");
var Chart_age = new Chart(ctx_age).Bar(data_age);

var ctx_soc = document.getElementById("chart_soc").getContext("2d");
var Chart_soc = new Chart(ctx_soc).Doughnut(data_soc);

var ctx_key = document.getElementById("chart_key").getContext("2d");
var Chart_key = new Chart(ctx_key).Bar(data_key);
</script>
-->