<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    Here we should let the user share the profile by either:
    (a) searching for FP users by email and selecting them (b) sending the profile by email to a given address
    (c) inviting a person to become an FP user by email (and also giving access to this email)
   
  </div>
</div>