<%
def m(varname):
    return context.get(varname, "")   
%> 
<!DOCTYPE html> 
<html>

<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="description" content="Database of the Estonian Pedagogical Archives-Museum" />
<meta name="keywords" content="museum,pedagogical,Estonia,database" />
<title id="title">Arhiivmuuseumi andmebaas</title>  
<link rel="stylesheet" type="text/css" href="/tlibrary/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/tlibrary/css/core.css"></link>
<style type="text/css">
body {
 /* background-color: #F5F5F5; */
 background-color:  white;
 overflow-y:scroll;
}
</style>
<script type="text/javascript" src="/tlibrary/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/stdjavascript.js"></script>
<script type="text/javascript" src="/tlibrary/js/wordcloud2.js"></script>
<script type="text/javascript" src="/tlibrary/js/jquery.jstree.min.js"></script>
<script type="text/javascript" src="/tlibrary/js/jquery.taggd.js"></script>
<script type="text/javascript" src="/tlibrary/js/bootstrap.file-input_2.js"></script>
<script type="text/javascript" src="/tlibrary/js/bootbox.min.js"></script>
<!--[if lt IE 9]><script type="text/javascript" src="/tlibrary/js/excanvas.compiled.js"></script><![endif]-->
<script>
// initialization vars and funs

var cloudwords=${cloudwords};
var tag_data=${tag_data};

var tagx,tagy,photoid; // tmp vars for tagging

$(document).ready(function(){ 
  setfilterselectors();
  init_input_fields();
  if (cloudwords) {
    WordCloud(document.getElementById('cloud_canvas'), 
      { list: cloudwords,
        backgroundColor: '#95A5A6 ', clearCanvas: true, shuffle: false, rotateRatio: 0,
        minRotation: 0, maxRotation: 0,
        hover: tghover, click: tgclick, color: tgcolor } );
  } 
  console.log($('#ctf_op_args').val());  
  
  // Stop chrome's autocomplete from making your input fields  yellow. 
  if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
    $(window).load(function(){
      $('input:-webkit-autofill').each(function(){
        var text = $(this).val();
        var name = $(this).attr('name');
        $(this).after(this.outerHTML).remove();
        $('input[name=' + name + ']').val(text);
      });
    });
  }
     
});
</script>

</head> 

<body itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="/tlibrary/img/favicon.ico" type="image/png">
${debug}
<div class="navbar" style="background-color: #ffffff; width: 100%; margin-bottom: 0px;">
<div class="navbar-inner" 
  style="background-color: white; height: 80px; max-width: 980px; 
         margin-top: 10px; margin-bottom: 0px; margin-left: auto; margin-right: auto;
         padding-left: 0px;  padding-right: 0px;        
         border-width: 0px; box-shadow: 0 0px 0px; border-radius: 0px 0px 0px 0px;
         background-image: none;">
<span id="logo">
<a id="logotxt" class="brand" role="button"
 style="color: #eeeeee; padding-top: 20px;" href="#"
 onclick="menupost('list','messages'); return false;">
 <img src="/tlibrary/img/logo01.png" ></a>
</span>

<span style="font-family: 'Times New Roman','Times',serif; font-size: ${_('titlesize')}em;
    font-style: italic; text-transform: uppercase; color: #333333;
    margin-left: 0px; margin-top: 5px; display: inline-block; width: 300px; line-height: 35px;">
${_('Estonian Pedagogical Archives-Museum')}</span>


<div class="pull-right" style="width: 400px;">   
  <div class="menu01" style="vertical-align: middle; padding-top: 0px; margin-top: 3px; 
    margin-right: 5px; display: inline-block; text-align: right;
    position:relative; left: 50px;
    margin-left: 30px;">
  <a class="menu01" title="help and tips" href="#myModal" data-toggle="modal">${_('Help')}</a>
  </div>  
  <div class="menu01" style="vertical-align: middle; padding-top: 0px; margin-top: 3px; 
    margin-right: 0px; display: inline-block; text-align: right;
     position:relative; left: 50px;
    margin-left: 5px;">    
   <a class="menu01" href="http://www.tlu.ee">${_('Log in via facebook')}</a>
  </div>
  <div class="dropdown" style="vertical-align: middle; padding-top: 0px; margin-top: 3px;
      margin-right: 0px; padding-right: 0px;  
      display: inline-block; ">
    <a href="#" class="dropdown-toggle disabled-link" data-toggle="dropdown" data-trigger="hover"
    style="margin-left: 80px;">
    <span id="langlabel" title="Keel / Language" style="color: #666666;">${_('current_lang')}</span>
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" >
      <li><a href="#" onclick="set_est_lang();">Estonian</a></li>
      <li><a href="#" onclick="set_eng_lang();">English</a></li>
    </ul>
  </div>
  <div class="clear" style="clear: both;"></div> 
  <div style="height: 40px; margin-right: 0px; padding-right: 0px; background-color: white;
     text-align: right; margin-top: 10px;">    
    %if m("userfullname"):    
    <form action="?" method="get" id="logoutform"> 
      <span style="margin-right: 10px;">
       ${userfullname}</span>
      <input type="hidden" name="ctf_op" value="logout"/>          
      <div class="btn btn-flat" style="margin-top: 2px; 
            width: 80px; margin-left: 5px;" onclick="$('#logoutform').submit();">
      ${_('Log out')}
      </div>     
    </form>  
    %else:    
    <form action="?" method="post" id="loginform">   
      <input type="text" style="width: 120px; background-color: white !important;"
        name="username" placeholder="${_('username')}"/>
      <input type="password" style="width: 90px; background-color: white !important;"
        name="password" placeholder="${_('password')}"/>
      <input type="hidden" name="op" value="login"/> 
      <div class="btn btn-flat" style="margin-top: 0px; 
            width: 80px; margin-left: 5px;" onclick="$('#loginform').submit();">
      ${_('Log in')}
      </div>
    </form>
    %endif
  </div>  
</div>

</div>
</div>

<!-- top bar ended -->

<div id="outersurround" style="margin-top: 6px;">
<div id="innersurround">

<div id="menus" class="singlelevel">
<ul class="menu02" style="margin-left: 0px; padding-left: 0px; margin-top: 0px;">
<li class="first">
<a href="#" onclick="menupost('home',''); return false;">${_('FRONT PAGE')}</a>
</li>
<li>
<a href="#" onclick="menupost('csearch_form',''); return false;">${_('CSEARCH')}</a>
</li>
<li>
<a href="#" onclick="menupost('persons',''); return false;">${_('PERSONS')}</a>
</li>
<li>
<a href="#" onclick="menupost('keywords',''); return false;">${_('KEYWORDS')}</a>
</li>

<li>
<a href="#" onclick="menupost('add','objects'); return false;" class='${editclass}'>${_('ADD')}</a>
</li>

</ul>

<div class="dropdown" style="position: relative; top:-42px; left: 800px; z-index: 200;">
  <a href="#" class="dropdown-toggle disabled-link" data-toggle="dropdown" data-trigger="hover">
  <span id="adminlabel" class="adminmenu" 
       title="Administreerimisvahendid" style="color: black; margin-left: 60px;">${_('Admin')}</span>
  <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" style="z-index: 200; overflow:visible; ">
    <li><a href="?ctf_op=list&ctf_table=dobjects">${_('Objects')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=users">${_('Users')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=albums">${_('Albums')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=categories">${_('Categories')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=licences">${_('Licences')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=comments">${_('Comments')}</a></li>
    <li><a href="?ctf_op=list&ctf_table=files">${_('Files')}</a></li>    
    <li><a href="?ctf_op=list&ctf_table=in_photos">${_('Photo tags')}</a></li> 
    <li><a href="?ctf_op=monitor" onclick="set_est_lang();">${_('Monitor')}</a></li>
  </ul>
</div>

</div>



<div id="${warningid}">
${warning}
</div>

<div id="maincontent">
<form name="mainform" id="mainform" action="?" method="post">
${main}
</form>
<form name="attachform" id="attachform" action="?" enctype="multipart/form-data" method="post">
${attach}
</form>
<form name="commentform" id="commentform" action="?" method="post">
${comment}
</form>
</div>

</div>

<div id="footer" style="background-color: white; height: 50px; margin-top: 0px; padding-top: 10px;">
<img src="/tlibrary/img/footer_logo_white.jpg" 
   class="img-rounded"
   style="margin-right: 0px; padding-right: 0px; margin-left: auto; text-align:right;">
</div>
</div>

<!-- main content ended -->


<!-- help popup start -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
<h3 id="myModalLabel">Arhiivi kasutamise abi</h3>
</div>
<div class="modal-body">
<p>Siia abitekst ...
</ul>

<p>
<img src="/tlibrary/img/footer_logo_white.jpg" 
   class="img-rounded"
   style="margin-right: 0px; padding-right: 0px; margin-left: auto; text-align:right;">
</div>
<div class="modal-footer">
<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Sulge</button>
</div>
</div>

<!-- help popup end -->

<!-- special tagging div -->

<div id="tagnamediv" style="width: 250px; display: none;">
  <span class="taggd-ptr-item" style="display: inline-block;"></span>
  <div style="display: inline-block; position: relative; top: -18px; left: -5px;">
  <input type="text" class="input-small" id="tagname" placeholder="tag"></input>
  <button class="btn btn-inverse" onclick="save_tag()">${_('Save')}</button>
  </div>
</div>

<!-- at end scripts -->

</body>
</html>
 


