
<div id="listbuttonbar" class="buttonbar">
<button name="left" class="btn btn-primary btn-sm ${prevclass}"  
  onclick="javascript: $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())-parseInt($('#ctf_shown_rows').val()));
           document.mainform.submit();"> 
<font id="leftscrollbutton">&lt;&lt;</font>
</button>
<button name="add" class="btn btn-primary btn-sm ${addclass}"
  onclick="javascript:document.mainform.ctf_op.value='add'; 
    document.mainform.ctf_lastop.value='list';
    document.mainform.ctf_rowid.value=''; 
    document.mainform.submit();">         
${_('Add')}
</button>
<button name="delete" class="btn btn-primary btn-sm ${deleteclass}"
  onclick="javascript:  document.mainform.ctf_lastop.value='list';
    if (confirmop('Delete records?')) 
    { document.mainform.ctf_op.value='delete';  document.mainform.submit(); } else { return false; }">             
${_('Delete selected')}
</button>
<button name="right" class="btn btn-primary btn-sm ${nextclass}"
  onclick="javascript: $('#ctf_rowstart').val(parseInt($('#ctf_rowstart').val())+parseInt($('#ctf_shown_rows').val()));
           document.mainform.submit();">            
<font id="rightscrollbutton">&gt;&gt;</font>
</button>
</div>



