
<div id="addbuttonbar" class="buttonbar">
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:document.mainform.ctf_op.value='saveadd'; 
    document.mainform.ctf_lastop.value='add';
    document.mainform.ctf_rowid.value=''
    document.mainform.ctf_nextop.value='list';
    document.mainform.submit();">   
${_('Save')}
</button>
</div>