
<div id="listbuttonbar" class="buttonbar">
<div id="lbtnbtitle" style="left: 0; text-align: left;">${tabletitle}</div>
<div id="lbtnbbuttons">
<div id="lbtnbbuttonsinner">
<button name="delete" class="btn btn-inverse btn-list"
  onclick="javascript:  
    document.mainform.ctf_lastop.value='list';
    if (confirmop('Kustuta valitud?')) { 
      document.mainform.ctf_op.value='subscription_delete';  
      document.mainform.submit(); 
    } else { return false; }">             
${_('Delete marked')}
</button>
<button name="delete" class="btn btn-inverse btn-list"
  onclick="javascript:  
    document.mainform.ctf_lastop.value='list';
    if (confirmop('Kustuta tellimus?')) { 
      document.mainform.ctf_op.value='subscription_deleteall';  
      document.mainform.submit(); 
    } else { return false; }">             
${_('Delete request')}
</button>
<button name="delete" class="btn btn-inverse btn-list"
  onclick="printOrder(); return false;">             
${_('Show for printing')}
</button>
</div>
</div>
</div>
