

<div class="container wiblock well" style="opacity: 0.85; "> 
<div class="attachblock" style="
  margin-bottom: 20px; 
  margin-top: 0px;
  align: center; text-align: left;
  font-size: 40px; font-weight: bold;">


<div>
  <div style="padding-top: 10px; padding-bottom: 0px;
      font-size: 30px; color: #555555;
      margin-left: auto; margin-right: auto;
      padding-left: 50px; padding-right: 50px;
     ">      
    <div style="
       font-family: Bodoni,Georgia,Serif; font-weight: 100; font-size: 70px;
       text-align: center; margin-bottom: 40px; color: #333333;">       
    The team
    </div>
  </div>
</div>


<div class="row" style="
    font-size: 18px; font-weight: 100; 
    color: #333333; 
    margin-bottom: 60px;">   <!-- color: rgb(34, 49, 63);  -->
  <div class="col-md-12" style="background-color: white; padding: 0px; opacity: 1;">
    <div style="
     font-size: 18px;  font-weight: 50; font-style: italic;
     background-color: white; padding-left: 20px; padding-top: 0px; text-align: center;">
    "Full Profile team is dedicated to make affordable customer research available for all marketers".
<!--    
Customer research today is broken. It takes way too much money, time and effort. 
Basically, only the big companies can afford it.
<p style="margin-top: 20px;">
Customer research is so expensive today because the methods that are used are expensive. 
Creating questionnaires, doing field work, analyzing results case by case is and will be expensive.
But there is a way we can affordably capture information passively on behaviours, attitudes, 
lifestyles values and emotional state. These give actually much fuller understanding of 
consumer behaviour than asking questions.
<p style="margin-top: 20px;">
Full Profile team is dedicated to make that affordable way available to all marketers.
-->
    </div>
  </div>  
</div>

<div class="teammember">
<div class="row teamrow">
  <div class="col-md-6 teampic">
    <img class="teamphoto" src="/fp/img/priit_kivinurm.jpg">
  </div>  
  <div class="col-md-2" ></div> 
  <div class="col-md-5">
<div class="teamname">PRIIT KIVINURM</div>
CEO
<p class="teamtext">
Co-Founder of Smart AD, most innovative adtech company in the Baltic's. 
Experienced in the marketing industry for 8 years.
  </div>
</div>  
</div>

<div class="teammember">
<div class="row teamrow">
  <div class="col-md-6 teampic">
    <img class="teamphoto" src="/fp/img/tanel_tammet.jpg">
  </div>  
  <div class="col-md-2" ></div> 
  <div class="col-md-5">
<div class="teamname">TANEL TAMMET</div>
TECHNOLOGY
<p class="teamtext">
Professor at the Tallinn University of Technology and 
the principal investigator in "Contextual information 
and semantic profiles"
  </div>
</div>  
</div>

<div class="teammember">
<div class="row teamrow">
  <div class="col-md-6 teampic">
    <img class="teamphoto" src="/fp/img/liisel_kalda.jpg">
  </div>  
  <div class="col-md-2" ></div> 
  <div class="col-md-5">
<div class="teamname">LIISEL KALDA</div>
MARKETING RESEARCH
<p class="teamtext">
12 years of experience  in marketing research &amp; communications. 
She is currently Head of Analytics at 
Dentsu Aegis Network &amp; Marketing Lecturer at Tallinn University of Technology.
  </div>
</div>  
</div>


<div class="teammember">
<div class="row teamrow">
  <div class="col-md-6 teampic">
    <img class="teamphoto" src="/fp/img/riivo_pilvik.jpg">
  </div>  
  <div class="col-md-2" ></div> 
  <div class="col-md-5">
<div class="teamname">RIIVO PILVIK</div>
PRODUCT
<p class="teamtext">
15 years of experience  in IT  and product/ service  development for government, 
banking and telekom sector where users themselves come first.
  </div>
</div>  
</div>

<div class="teammember">
<div class="row teamrow">
  <div class="col-md-6 teampic">
    <img class="teamphoto" src="/fp/img/kriste_ruuber.jpg">
  </div>  
  <div class="col-md-2" ></div> 
  <div class="col-md-5">
<div class="teamname">KRISTE RUUBER</div>
CUSTOMERS
<p class="teamtext">
4 years experience in international marketing and sales.
  </div>
</div>  
</div>


<div class="teammember">
<div class="row teamrow">
  <div class="col-md-6 teampic">
    <img class="teamphoto" src="/fp/img/dag_ainsoo.jpg">
  </div>  
  <div class="col-md-2" ></div> 
  <div class="col-md-5">
<div class="teamname">DAG AINSOO</div>
CFO
<p class="teamtext">
Co-Founder of Smart AD, most innovative adtech company in the Baltic's. 
Experience in finance and building companies 12+ years.
  </div>
</div>  
</div>

<div class="teammember" style="color: #333333; font-size: 14px;
           margin-left: auto; margin-right: auto;">
    <div style="
       font-family: Bodoni,Georgia,Serif; font-weight: 100; font-size: 50px;
       text-align: center; margin-bottom: 40px; color: #333333;">       
    Contact
    </div>      
<div class="row teamrow">
  <div class="col-md-3"></div>
  <div class="col-md-6 teampic">
    <form>
    <p>    
    <input class="fld contactfld" type="text" placeholder="Your Name"></input><p>
    <input class="fld contactfld" type="text" placeholder="Your Email"></input><p>
    <input class="fld contactfld" type="text" placeholder="Subject"></input><p>
    Your message:<br>
    <textarea class="contactfld" name="names" rows="5"></textarea><p>
    <input class="btn btn-primary btn-sm" type="submit" value="Send">
    </form>
  </div>
  <div class="col-md-3"></div>  
</div>
</div>

<div>
  <div style="padding-top: 10px; padding-bottom: 0px;
      font-size: 30px; color: #111111;
      margin-left: auto; margin-right: auto;
      padding-left: 50px; padding-right: 50px;
     ">      
    <div style="
       font-weight: 100; font-size: 16px;
       text-align: center; margin-bottom: 40px; color: #111111;">       
    Call us +44 77 900 48115    
    </div>
  </div>
</div>

</div>
</div>







