<div class="container wiblock well"> 
<div class='attachblock'>

  <div style="
    margin-bottom: 20px; 
    margin-top: 50px;
    align: center; text-align: center;
    font-size: 40px; font-weight: bold;">

  <div style="padding-top: 20px; padding-bottom: 40px;
      font-size: 14px; font-family: serif; color: #555555;
      margin-left: auto; margin-right: auto;
      padding-left: 30px; padding-right: 30px;
      text-align: left;">      

<div style="text-align: left; font-size: 36px; font-size: 20px; margin-bottom: 30px; color: #333333;">       
Terms of Service <p>
Effective: January 1, 2015      
</div>
<div>

<div id="contents">
<style type="text/css">ol{margin:0;padding:0}.c5{line-height:1.5;widows:2;orphans:2;height:11pt;direction:ltr}.c3{line-height:1.5;widows:2;orphans:2;direction:ltr;padding-bottom:3pt}.c0{line-height:1.5;widows:2;orphans:2;direction:ltr;padding-bottom:11pt}.c6{widows:2;orphans:2;height:11pt;direction:ltr}.c7{font-size:11pt;font-family:"Arial";font-weight:normal}.c9{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}.c2{color:#3d464d;font-style:italic;background-color:#ffffff}.c8{padding-top:0pt;text-align:left}.c4{color:#3d464d;background-color:#ffffff}.c1{font-weight:bold}.title{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:21pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}.subtitle{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:13pt;font-family:"Trebuchet MS";padding-bottom:10pt;page-break-after:avoid}li{color:#000000;font-size:11pt;font-family:"Arial"}p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}h1{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:16pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h2{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:13pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h3{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:12pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h4{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;text-decoration:underline;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h5{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h6{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}</style>
<p class="c3">
<p class="c5"><span class="c4"></span></p><p class="c5"><span class="c4"></span></p><p class="c0"><span class="c4">These terms of service (&quot;Terms&quot;) cover your use and access to the services (&quot;Services&quot;) provided by Full Profile, LLC. By using our Services, you&#39;re agreeing to be bound by these Terms, and to review ou</span><span>r </span><span>Privacy policy</span><span class="c4">. If you&#39;re using our Services for an organization, you&#39;re agreeing to these Terms on behalf of that organization.</span></p><p class="c3"><span class="c1">Your Stuff &amp; Your Permissions</span></p><p class="c0"><span class="c4">When you use our Services, you provide us with things like your customer names and contacts and information about your customer segments (&quot;Your Stuff&quot;). Your Stuff is yours. These Terms don&#39;t give us any rights to Your Stuff except for the limited rights that enable us to offer the Services.</span></p><p class="c0 c8"><span class="c4 c7">We need your permission to do things like hosting Your Stuff, backing it up, and sharing it when you ask us to. Our Services provide you comprehensive input to your different marketing activities</span><span class="c4">. Profiling your customer segments</span><span class="c4"> require our systems to access, store and scan Your Stuff. You give us permission to do those things, and this permission extends to trusted third parties we work with.</span></p><p class="c3"><span class="c1">Sharing Your Stuff</span></p><p class="c0"><span class="c4">Our Services let you share Your Stuff with others, so please think carefully about what you share.</span></p><p class="c3"><span class="c1">Your Responsibilities</span></p><p class="c0 c8"><span class="c4">You&#39;re responsible for your conduct. Please don&#39;t upload any information to us unless you have the right to do so.</span></p><p class="c0"><span class="c4">Please safeguard your password to the Services, make sure that others don&#39;t have access to it, and keep your account information current.</span></p><p class="c3"><span class="c1">Our Stuff</span></p><p class="c0"><span class="c4">The Services are protected by copyright, trademark, and other laws. These Terms don&#39;t grant you any right, title or interest in the Services, others&#39; content in the Services, Full Profile trademarks, logos and other brand features. We welcome feedback, but note that we may use comments or suggestions without any obligation to you.</span></p><p class="c0"><span class="c1">Paid Accounts</span></p><p class="c0"><span class="c2">Billing</span><span class="c4">. You can scale the Services and add paid features to your account (turning your account into a &quot;Paid Account&quot;). We&#39;ll automatically bill you from the date you convert to a Paid Account and on each periodic renewal until cancellation. You&#39;re responsible for all applicable taxes, and we&#39;ll charge tax when required to do so.</span></p><p class="c0"><span class="c2">No Refunds</span><span class="c4">. You may cancel your Full Profile Paid Account at any time but you won&#39;t be issued a refund unless it&#39;s legally required.</span></p><p class="c0"><span class="c2">Downgrades</span><span class="c4">. Your Paid Account will remain in effect until it&#39;s cancelled or terminated under these Terms. If you don&#39;t pay for your Paid Account on time, we reserve the right to suspend it or reduce your scale of Services to Free Account levels.</span></p><p class="c0"><span class="c2">Changes</span><span class="c4">. We may change the fees in effect but will give you advance notice of these changes via a message to the email address associated with your account.</span></p><p class="c3"><span class="c1">Termination</span></p><p class="c0"><span class="c4">You&#39;re free to stop using our Services at any time. We also reserve the right to suspend or end the Services at any time at our discretion and without notice. For example, we may suspend or terminate your use of the Services if you&#39;re not complying with these Terms, or use the Services in a manner that would cause us legal liability, disrupt the Services or disrupt others&#39; use of the Services. Except for Paid Accounts, we reserve the right to terminate and delete your account if you haven&#39;t accessed our Services for 12 consecutive months. We&#39;ll of course provide you with notice via the email address associated with your account before we do so.</span></p><p class="c3">

<span class="c1">Services &quot;AS IS&quot;</span></p><p class="c0"><span class="c4">We strive to provide great Services, but there are certain things that we can&#39;t guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, FULL PROFILE AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED &quot;AS IS.&quot; WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</span></p><p class="c3"><span class="c1">Limitation of Liability</span></p><p class="c0"><span class="c4">TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL FULL PROFILE, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT FULL PROFILE HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF EUR20 OR THE AMOUNTS PAID BY YOU TO DROPBOX FOR THE PAST 12 MONTHS OF THE SERVICES IN QUESTION.</span></p>

<p class="c3"><span class="c1">Resolving Disputes</span></p><p class="c0"><span class="c2">Let&#39;s Try To Sort Things Out First</span><span class="c4">. We want to address your concerns without needing a formal legal case. Before filing a claim against Full Profile, you agree to try to resolve the dispute informally by contacting info@full-profile.com. We&#39;ll try to resolve the dispute informally by contacting you via email. If a dispute is not resolved within 15 days of submission, you or Full Profile may bring a formal proceeding.</span></p><p class="c0"><span class="c2">We Both Agree To Arbitrate</span><span class="c4">. You and Full Profile agree to resolve any claims relating to these Terms or the Services through final and binding arbitration.</span></p><p class="c0"><span class="c2">No Class Actions</span><span class="c4">. You may only resolve disputes with us on an individual basis, and may not bring a claim as a plaintiff or a class member in a class, consolidated, or representative action. Class arbitrations, class actions, private attorney general actions, and consolidation with other arbitrations aren&#39;t allowed.</span></p><p class="c0"><span class="c2">Judicial forum for disputes</span><span class="c4">. In the event that the agreement to arbitrate is found not to apply to you or your claim, you and Full Profile agree that any judicial proceeding (other than small claims actions) will be brought in courts of Estonia. Both you and Full Profile consent to venue and personal jurisdiction there.</span></p><p class="c3"><span class="c1">Controlling Law</span></p><p class="c0"><span class="c4">These Terms will be governed by Estonian law except for its conflicts of laws principles.</span></p><p class="c3"><span class="c1">Entire Agreement</span></p><p class="c0"><span class="c4">These Terms constitute the entire agreement between you and Full Profile with respect to the subject matter of these Terms, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.</span></p><p class="c3"><span class="c1">Waiver, Severability &amp; Assignment</span></p><p class="c0"><span class="c4">Full Profile</span><span class="c4"> failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt will be void. Full Profile may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.</span></p><p class="c3"><span class="c1">Modifications</span></p><p class="c0"><span class="c4">We may revise these Terms from time to time, and will always post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you (by, for example, sending a message to the email address associated with your account, posting on our blog or on this page). By continuing to use or access the Services after the revisions come into effect, you agree to be bound by the revised Terms.</span></p><p class="c6"><span></span></p>
</div>
</div>


      

  </div>
  </div>
</div>
</div>





