<!--  top bar starts  -->
<!-- <span class="toplargest">${_('STREETLIGHT')}</span> -->
${_('logo')}
<span class="topmessages">
  <span id="servertime" class="servertime"></span>&nbsp;&nbsp;&nbsp;
  <span class="username">${userfullname}</span>
</span>
<span class="logout">
  <form action="?">        
    <input type="hidden" name="ctf_op" value="logout"> 
    <input type="submit" value="${_('Log out')}" class="logoutbtn"
     onmouseover="this.className='logoutbtn logoutbtnhov'" onmouseout="this.className='logoutbtn'" >
  </form>
</span>

<!--  top bar ends  -->
