

</form>
<div style="min-height: 800px;">

${firstblock}

<!--
<div class="container wiblock well"> 
<div class='attachblock'>
<div class='viewrec'>
  <div class='tabletop' style='margin-top: 0px; margin-bottom: 20px;'>Upload a name list in a file:</div>  
  <div style='height: 5px;'></div><p>
  
  <form class="form" id="attachform" action="?" enctype="multipart/form-data" method="post">    
  <div class="form-group">
    <input type='text' class="fld" style="width: 260px" name='profname' 
                   value='' placeholder='List name (optional)'>
  </div>
  <input type='hidden' name='ctf_op' value='upload'>
  <input type='file' name='file' class='btn btn-info btn-sm' id='fileselect' title='Choose file'>
  <input type='submit' class='btn btn-primary btn-sm' 
     value='Upload'> 
  </form>  
  The file should contain one full name per row: <p>
  Firstname Optionalmiddlename Lastname
</div>
</div>
</div>
</div>
</div>
-->


<div class="container wiblock well">  
  <div class="row">    
  <h2 style='margin-bottom: 20px;'><b>New client list</b></h2>
  
  <div class="col-md-2">  
  </div>
  
  <div class="col-md-8 col-centered">  

  <form>  
  <div class="form-group" style="width: 100%">
  <!--
  <div class="alert alert-success" role="alert" style='text-align: center'>list saved; to start profiling, press 'Analyze'</div>
  -->
  <img src='/fp/img/listdescription.png' style='margin-right: 15px;'></img>
  <input type='text' class="fld" style="width: 90%" name='profname' 
                  value='' placeholder='List name'>
  </div>        
  <div class="form-group" style="width: 100%">    
  <img src='/fp/img/tags_wb2.png' style='margin-right: 15px;'></img>  
  <div style="display: inline-block; margin-top: 0px; padding-top: 10px; ">
 <input type='text' class="fld" 
       style="width: 500px; vertical-align: middle;" name='tags'  id='tags1' > </input>
   </div>    
 <div style="display: inline-block; margin-top: 0px; padding-bottom: 0px;   vertical-align: middle;">      
   <a data-toggle="modal" href="#tagModal"
         style="margin-top: 0px; padding-top: 0px; margin-left: 5px;  vertical-align: middle;" 
         value='Select tags'>Select tags</a>       
  </div>     
  <p>
 
  <p>  
  </div>
  <div class="form-group">  
  <input type='hidden' name='ctf_op' value='store'>
  
  <div style="margin-top: 20px; margin-bottom: 10px;">
  Write names here, one name per row (<a href='javascript:nameexample();' style=''>see example</a> and 
<a href='javascript:nameexample();' style=''>hints</a>): 
  </div>  
  <textarea rows="15" spellcheck="false" style="width: 100%; padding: 5px; " name="names" id="names"></textarea>
  </div>
   
  <div style="margin-left: auto; margin-right: auto; text-align: center;"> 
    <input type="file" id="fileinput" name="fileinput" class='btn btn-default btn-sm' 
         style="display: inline-block; color:blue; background-color: #aaaaaa; margin-right: 20px;" value="">
    <input type='submit' class='btn btn-primary btn-sm' style='margin-left: 20px; margin-right: 20px;'
       value='Save'> 
    <input type='submit' class='btn btn-primary btn-sm' 
       value='Analyze'>    
  </div>        
     
     
  </form>  
  
  <!--
  <div class='viewrec' style='text-align: center;'>
    or read the names from a file:     
    <input type="file" id="fileinput" name="fileinput" class='btn btn-default btn-sm' 
         style="display: inline-block; color:blue; background-color: #aaaaaa;" value="">
  </div>
  -->
  <div class="col-md-2">  
  </div>
  
  </div>
</div>  

<!------------- -->



</div>
</div>
</div>
</div>

</div>


<!--

<div class="container wiblock well">   
<div class='attachblock'>
<div class='viewrec'>
  <div class='tabletop' style='margin-top: 0px; margin-bottom: 20px;'>or write names here, one name per row: 
  </div>  
  <div style='height: 5px;'></div><p>
  <form class="form" id="storeform" action="?" method="post">    
  <div class="form-group">
    <input type='text' class="fld" style="width: 260px" name='profname' 
                  value='' placeholder='List name (optional)'>
  </div>
  <input type='hidden' name='ctf_op' value='store'>
  <textarea rows="5" style="width: 260px" name="names"></textarea>
  <div style="margin-top: 20px; margin-bottom: 10px;">
  Firstname Optionalmiddlename Lastname
  </div>  
  <input type='submit' class='btn btn-primary btn-sm' 
     value='Save'> 
  </form>  
</div>

</div>
</div>
<form>

-->

