
<div id="viewrecbuttonbar" class="buttonbar">
<button name="back" class="btn btn-primary btn-sm"
  onclick="javascript:
    document.mainform.ctf_op.value='list'; 
    document.mainform.ctf_lastop.value='viewrec';
    document.mainform.submit();">   
${_('List')}
</button>
<button name="back" class="btn btn-primary btn-sm ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='edit'; 
    document.mainform.ctf_lastop.value='viewrec';
    document.mainform.submit();">   
${_('Edit')}
</button>
<button name="back" class="btn btn-primary btn-sm ${editclass}"
  onclick="javascript: if (confirmop('Delete record?')) { 
    document.mainform.ctf_op.value='delete';  
    document.mainform.ctf_lastop.value='viewrec';
    document.mainform.submit();} else { return false; }">   
${_('Delete')}
</button>
</div>



