<div id="viewrecbuttonbar" class="buttonbar">
<button name="back" class="cbtn cbtn-inverse ${listbtnclass}"
  onclick="javascript:
    var tmp=prev_rowid(${curid}); 
    document.mainform.ctf_lastop.value='viewrec';
    if (tmp) {
      document.mainform.ctf_rowid.value=tmp;
      document.mainform.ctf_op.value='viewrec';
      if ($('#ctf_table').val()=='objects' || $('#ctf_table').val()=='sobjects') 
        document.mainform.method='get';
    }  
    else document.mainform.ctf_op.value='list'; 
    document.mainform.submit();">   
${_('Previous')}
</button>
<button name="back" class="cbtn cbtn-inverse ${listbtnclass}"
  onclick="javascript:
    var tmp=next_rowid(${curid}); 
    document.mainform.ctf_lastop.value='viewrec';
    if (tmp) {
      document.mainform.ctf_rowid.value=tmp;
      document.mainform.ctf_op.value='viewrec';
      if ($('#ctf_table').val()=='objects' || $('#ctf_table').val()=='sobjects') 
        document.mainform.method='get';
    }  
    else document.mainform.ctf_op.value='list';    
    document.mainform.submit();">   
${_('Next')}
</button>
<button name="back" class="cbtn cbtn-inverse ${listbtnclass}"
  onclick="javascript:
    document.mainform.ctf_lastop.value='viewrec';
    document.mainform.ctf_op.value='list';
    document.mainform.submit();">   
${_('Back to list')}
</button>
<button name="back" class="cbtn cbtn-inverse"
  onclick="javascript: 
    document.mainform.ctf_op.value='subscribe';  
    document.mainform.ctf_lastop.value='viewrec';
    document.mainform.submit();">   
${_('Add to request')}
</button>
<button name="back" class="cbtn cbtn-inverse ${editclass}"
  onclick="javascript:document.mainform.ctf_op.value='edit'; 
    document.mainform.ctf_lastop.value='viewrec';
    document.mainform.submit();">   
${_('Edit')}
</button>
<button name="back" class="cbtn cbtn-inverse ${deleteclass}"
  onclick="javascript: if (confirmop('Delete record?')) { 
    document.mainform.ctf_op.value='delete';  
    document.mainform.ctf_lastop.value='viewrec';
    document.mainform.submit();} else { return false; }">   
${_('Delete')}
</button>
<div style="margin-left: 40px; width: 600px; height: 50px; display: inline-block;
     z-index: 500;
     position: absolute; margin-top: 5px;">
  <!--   
  <div class="fb-like" data-href="${like_href}" 
     data-width="100" data-layout="button_count" data-show-faces="false" 
     data-coloscheme="light"
     data-send="false"></div>
  -->  
  <div class="fb-like" data-href="${like_href}" style="display: inline-block;"
     data-width="100" data-layout="button_count" data-show-faces="false" 
     data-coloscheme="light"
     data-send="false"></div>       
  <div style="display: inline-block; left: 110px; position: absolute; vertical-align: top;">
    <div class="g-plusone" data-annotation="none" data-size="medium" data-expandTo="right"
      data-href="${like_href}"></div>
  </div>    
</div>

</div>

