
/* --- normal areas --- */

.normaltext {
  font-size: 13px; 	
}



/* --- links --- */

a.inmenu{
  font-family:arial,helvetica,sans-serif;
  font-size: 16px;
  /* color: #505050; */
  color: #405040;
  white-space : nowrap;
  text-decoration:none;
}

.linkshow {
}

.linkhide {
  display: none;
}

a {
  color:#003366;
  /* font-size:small; */
  white-space : nowrap;
  text-decoration:none;
}

a:hover{
	text-decoration:underline;
}


.subheading {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight:bold;  
}	

.statusinfo span {
  padding-left: 10px;  
}	

.statussettings span {
  padding-left: 10px;  
}	

.showchanged {
  margin-left: 0px; 
  margin-right: 0px; 
  padding-left: 0px; 
  padding-right: 0px;
  color: #660000;
  background-color: inherit;
}

a.info{
  position:relative; /*this is the key*/
  z-index:24; 
  color:#990000;
  text-decoration:none;
}

a.info:hover{
  z-index:25; 
  background-color:#ff0
}

a.info span{
  display: none
}

a.info:hover span{ /*the span will display just on :hover state*/
  display:block;
  position:absolute;
  top:-1em; left:2em; width:15em;
  padding-top: 7px;
  padding-bottom: 7px;
  border:1px solid #666666;
  background-color:#ff0; color:#000;
  text-align: center
}

/* --- surrounding area, large areas, headers and footers --- */

#outersurround {
  width: 980px;	
  padding-left:0px;
  padding-right:0px;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  padding-top:0px;
  margin-top:0px;
}	

#innersurround {
  width: 980px;
  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
  padding-top:0px;
  margin-top:0px;
}	


#warning {
  width:778px;
  float: left;
  background-color: #ffffaa;
  border-style:solid;
  border-color:#999966;
  border-width:1px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;  
}

#hiddenwarning {
  visibility:hidden;  
}

#error {
  width:778px;
  float: left;
  color: #ff0000;
  background-color: #ffffaa;
  border-style:solid;
  border-color:#999966;
  border-width:1px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;  
}

#maincontent {
  /*	
  border: 1px solid #DEDEDE;
  border-radius: 5px 5px 5px 5px;
  */
  font-family: Arial,Helvetica,sans-serif;
  min-height: 260px;

  width:980px;
  text-align:left;
  margin:0;
  margin-top:0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  float: left;
  
  overflow: hidden;
}

.frontblock {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fronttopleftblock {
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.frontexblock {
  margin-top: 5px;	
  border-top-color: #800000;
  border-top-style: solid;
  border-top-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white  ;
  color: #333333;
  height: 200px;
}

.frontexblock img {
  max-width: 250px;
  max-height: 125px;
  
}


#footer{	
  /* border-bottom: 1px solid #CCCCCC;  */
  height: 50px;
  top: 20px;
  width: 960px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 0px;
  clear: both;
  color: white;
  /* background-color: #5D5D5D; */
  background-color: white;
  text-align: right;
  font-family:arial,helvetica,sans-serif;
  font-size: 14px;
}

/* --- tables --- */

table {
  width: 90%;
}

.dataheaderrow {
  background: #EEECF6;
}

.dataheadercell {
  font-weight: bold
}

.fldnamecol {
  white-space:nowrap;
  width: 10%;
}


.tabletop {
  font-size:18px;
  color: #333333;  
  font-family: arial, helvetica,sans-serif;
  margin-bottom: 10px;
  padding:0; 
}	

.colheader {
  background-color: #EEEEEE;  
  border-style:solid;
  border-color:#EEEEEE;
  border-width:1px;
  padding-left: 1px;
  text-align:left;
}

.colheader_nosort {
  cursor: auto !important;
  background-color: #EEEEEE !important;  
  border-style:solid;
  border-color:#EEEEEE;
  border-width:1px;
  padding-left: 1px;
}

.colheader_nosort :hover {
  cursor: auto;
  background-color: #EEEEEE;
}

.sortmark {
  width:40px;
  padding:0;
  font-weight:900;
  font-size:14px;
  color: #ff3333;  
}

.clearsortmark {
  width:40px;
  padding:0;
  font-weight:bold;
  font-size:14px;
  color: #ff3333;
  visibility: hidden;  
}

.sortlink {
  color: #333333;  
}

table.datatable {
  border-collapse:collapse;
}

.datatable th {
  line-height: 140%;	/tlibrary/img/
  font-size: 13px;
}

.datatable td {
  line-height: 140%;	
  border-top:1px solid #dddddd;
  font-size: 13px;
}

tr.datarow {
  font-family:arial,helvetica,sans-serif;
  /* font-weight: bold; */
  /* font-size: 12px; */  
}

tr.datarow :hover {
  text-decoration:underline;
  cursor: pointer;
}

tr.headerrow :hover {
  cursor: pointer;
  background-color:#ffffff;
}


/* --- filters --- */

.filters {  
  color: #333333;  
  font-family: arial, helvetica,sans-serif;
  margin-bottom: 10px ;
  padding:0px; 
}	

.filters td {
	line-height: 10px !important; 
}

.filterselect {  
  color: #333333;  
  background-color: #ffffff; 
  font-family: arial, helvetica,sans-serif;
  padding-top: 0px;
  padding-bottom: 0px; 
  padding-right: 0px; 
  padding-left: 0px; 
  margin-right: 0px; 
  margin-left: 0px;
  background:#F7F7F7;
  display:inline;
  border: 1px solid #CCCCCC;
  width: 70px;
  height: 20px;
}	

.filterselectvalue {  
  color: #333333;  
  background-color: #ffffff; 
  font-family: arial, helvetica,sans-serif;
  padding-top: 0px;
  padding-bottom: 0px; 
  padding-right: 0px; 
  padding-left: 0px; 
  margin-right: 0px; 
  margin-left: 0px;
  background:#FFFFFF;
  display:inline;
  border: 1px solid #CCCCCC;
  width: 164px;
  height: 20px;
}	

.filterfld {          
  border:1px solid #aaa;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right:10px;
  font-family:arial,helvetica,sans-serif,sans-serif;
  font-size: small;
  height: 20px;
}

.filterlabel {            
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-left: 0px;
}

/* --- forms and input --- */


.fld {          
  border:1px solid #aaa;
  padding:3px;
  font-family:arial,helvetica,sans-serif;
  /* font-size: small; */
}

.simplebox {
  margin-top: 2px !important;
  margin-bottom: 2px !important;  
  outline: none;
  box-shadow:none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

input[type="text"]  {
  margin-top: 2px !important;
  margin-bottom: 2px !important; 
  margin-left: 5px !important;  
  outline: none;
  box-shadow:none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

input[type="password"]  {
  margin-top: 2px !important;
  margin-bottom: 2px !important; 
  margin-left: 5px !important;  
  outline: none;
  box-shadow:none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

select {
  margin-top: 2px !important;
  margin-bottom: 2px !important; 
  margin-left: 5px !important;   
  outline: none;
  box-shadow:none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  width: 150px;		  
  height: 30px;	
}


input.textinput {
  background:#F7F7F7;
  display:inline;
  padding:0 0 0 0;
  height:1.1em;
  border: 1px solid #CCCCCC;
}

input.textinput:hover { 
  background-color:white;
}

/* --- buttons --- */


.leftbtn {
  width: 120px;
}

.btnhov {
  background-color:#FFFFFF;
  cursor: pointer;  
}	

.btnshow {
}

.btnhide {
  display: none;
}

.btn {
  box-shadow:none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.btn-flat {
  box-shadow:none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-image: none;
  background-color: #f3f3f3;
}




.buttonbar {
  font-size:18px;
  color: #333333;  
  font-family: arial, helvetica;
  margin-bottom: 15px;  
  padding:0; 
}

/* --- buttonbars --- */

#viewrecbuttonbar {
  margin-top: 10px;
}

#editbuttonbar {
  margin-top: 10px;
}

#addbuttonbar {
  margin-top: 10px;
}

/* --- tlu design specifics --- */

#language01 { font-size: 13px; height: 20px; width: 125px; float: right; 
	position: relative; background: url(/tlibrary/img/bg01.png) no-repeat 105px 9px; 
	margin: 3px 0 0 0; z-index: 100; font-family: Arial, Helvetica, sans-serif; }
#language01 A { color: #0a0a0a; text-decoration: none; border: 1px solid #c3c3c3; 
	display: block; padding: 0px 0px 1px 26px;}
#language01 UL { display: none; }
#language01.open UL { display: block; position: absolute; width: 100%; }
/* #language01.open { background: url(/tlibrary/img/bg01b.png) no-repeat 105px 9px; } */
#language01 .et { background: url(/tlibrary/img/flag_et.png) no-repeat 5px 50%; }
#language01 .ru { background: url(/tlibrary/img/flag_ru.png) no-repeat 5px 50%; }
#language01 .en { background: url(./tlibrary/img/flag_en.png) no-repeat 5px 50%; }
#language01 UL A { background-color: #fff !important; border-top: none; }


.menu01 a { font-size: 1em; color: #666666; text-decoration: none; margin: 0 0 0 15px; }
a.menu01:active {  border-bottom: 1px solid ; }
a.menu01:hover {  border-bottom: 1px solid ; }

#menus { display: inline; }

.menu02 { clear: both; overflow: hidden; font-size: 26px !important;  
  font-family: "Times New Roman", "Times New Roman", serif;  
  font-style: italic; text-transform: uppercase; 
  padding: 11px 0 0 0; 
  list-style: none outside none;  
}
.menu02 LI { float: left; background: url(/tlibrary/img/bg02.png) no-repeat 100% 50%; 
  padding-right: 20px; padding-bottom: 5px;  padding-top: 4px; 
}
.menu02 A { text-decoration: none; display: block; 
  padding: 7px 5px; letter-spacing: -2.6px; color: white; /* color: #0a0a0a; */
}
.menu02 A:hover { color: #b20e10; text-decoration: none; }
.menu02 LI.first A { padding-left: 0; }
.menu02 A.active { color: #b71234; }



/* --- various special cases --- */

.username {
  font-size:18px;
  color:#666666;   
  font-family: arial, helvetica,sans-serif;
}

