.taggd-wrapper { overflow: hidden; }

.taggd-wrapper .taggd-item,
.taggd-wrapper .taggd-item-hover {
    padding: 10px;
}

.taggd-wrapper .taggd-item {
    background-color: rgba(221, 17, 68, 0.5);

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    z-index: 1000;
}

.taggd-wrapper .taggd-ptr-item {
    background-color: rgba(221, 17, 68, 0.5);

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    z-index: 1000;
}

.taggd-wrapper .taggd-item.active,
.taggd-wrapper .taggd-item:hover { background-color: rgba(221, 17, 68, 0.75); }

.taggd-wrapper .taggd-item-hover {
    background-color: rgba(221, 17, 68, 0.75);

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    color: white;
    font-weight: lighter;
    opacity: 0;
    position: absolute;

    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 999;
}

.taggd-wrapper .taggd-item-hover.show { opacity: 1; }
